openapi: 3.0.1
info:
  description: Documentation of the Dynatrace REST API. Refer to the [help page](https://www.dynatrace.com/support/help/shortlink/section-api) to read about use-cases and examples.
  title: Dynatrace Environment API
  version: "1.0"
servers:
- url: https://siz65484.live.dynatrace.com/api/v1
tags:
- description: ""
  name: Cluster version
- description: ""
  name: Anonymization
- description: ""
  name: User session query language
- description: ""
  name: Synthetic
- description: ""
  name: Maintenance window
- description: ""
  name: Topology & Smartscape - Application
- description: ""
  name: Topology & Smartscape - Custom device
- description: ""
  name: Topology & Smartscape - Host
- description: ""
  name: Topology & Smartscape - Process
- description: ""
  name: Topology & Smartscape - Process group
- description: ""
  name: Topology & Smartscape - Service
- description: ""
  name: Problem
- description: ""
  name: Threshold
- description: ""
  name: Timeseries
- description: ""
  name: Cluster time
- name: Event
paths:
  /config/clusterversion:
    get:
      operationId: getVersion
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterVersion'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Gets the current version of the cluster server.
      tags:
      - Cluster version
  /anonymize/anonymizationJobs/{requestId}:
    get:
      operationId: getStatus
      parameters:
      - in: path
        name: requestId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnonymizationProgressResult'
          description: Success. The responce body contains the status of the anonymization job.
        400:
          content: {}
          description: Failed. The input is invalid. See the response body for details.
      security:
      - UserSessionAnonymizationToken: []
      summary: Shows the progress of the specified anonymization job.
      tags:
      - Anonymization
      x-early-access: "true"
  /anonymize/anonymizationJobs:
    put:
      description: "The job anonymizes all user sessions in the specified timeframe\
        \ by masking the userID and IP address. \n\nTo identify user sessions to be\
        \ anonymized you can specify either userID, or IP address, or both. If you\
        \ specify both the **OR** logic applies. \n\nRegardless how you're identifying\
        \ the user session, both userID and IP are masked. You can't undo the anonymization.\
        \ \n\n"
      operationId: anonymize
      parameters:
      - description: The start timestamp of the user session to anonymize, in UTC milliseconds. If 0, the earliest available time is used.
        in: query
        name: startTimestamp
        schema:
          default: 0
          format: int64
          type: integer
      - description: The end timestamp of the user session to anonymize, in UTC milliseconds. If 0, the current time is used.
        in: query
        name: endTimestamp
        schema:
          default: 0
          format: int64
          type: integer
      - description: "UserID of the user to anonymize. \n\n You can specify several\
          \ IDs, in the following format: `userIds=user1&userIds=user2`."
        explode: true
        in: query
        name: userIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          IP address of the user to anonymize. All user sessions from this IP will be anonymized.

           You can specify several IPs, in a same way as user IDs.
        explode: true
        in: query
        name: ips
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnonymizationIdResult'
          description: Success. The responce body contains the ID of the anonymization job. You can use the ID to check the job status.
        400:
          content: {}
          description: Failed. The input is invalid. See the response body for details.
      security:
      - UserSessionAnonymizationToken: []
      summary: Creates user session anonymization job.
      tags:
      - Anonymization
      x-early-access: "true"
  /userSessionQueryLanguage/tree:
    get:
      operationId: getDTAQLResultAsTree
      parameters:
      - description: "The user session query to execute. The table scheme corresponds\
          \ to the definition of 'usersession'. \n \n Example:  SELECT country, city,\
          \ COUNT(*) FROM usersession GROUP BY country, city"
        in: query
        name: query
        required: true
        schema:
          type: string
      - description: The query start time in milliseconds since January 1st, 1970. If 0, then the current time minus 2 hours is used.
        in: query
        name: startTimestamp
        schema:
          format: int64
          type: integer
      - description: The query end time in milliseconds since January 1st, 1970. If 0, then the current time is used.
        in: query
        name: endTimestamp
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtaqlResultAsTable'
          description: The result of the query.
        400:
          content: {}
          description: The query is missing.
        404:
          content: {}
          description: The query is invalid, see the query message for more information.
        999:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSession'
          description: See the data scheme for detailed information on queries and returned values (this response code is never returned).
      security:
      - UserSessionQueryToken: []
      summary: Execute a query and receive results as a tree-structure of the requested columns if groupings are specified.
      tags:
      - User session query language
      x-beta: "true"
  /userSessionQueryLanguage/table:
    get:
      operationId: getDTAQLResultAsTable
      parameters:
      - description: "The user session query to execute. The table scheme corresponds\
          \ to the definition of 'usersession'.  \n \n Example:  SELECT country, city,\
          \ COUNT(*) FROM usersession GROUP BY country, city"
        in: query
        name: query
        required: true
        schema:
          type: string
      - description: The query start time in milliseconds since January 1st, 1970. If 0, then the current time minus 2 hours is used.
        in: query
        name: startTimestamp
        schema:
          format: int64
          type: integer
      - description: The query end time in milliseconds since January 1st, 1970. If 0, then the current time is used.
        in: query
        name: endTimestamp
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtaqlResultAsTable'
          description: The result of the query.
        400:
          content: {}
          description: The query is missing.
        404:
          content: {}
          description: The query is invalid, see the query message for more information.
        999:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSession'
          description: See the data scheme for detailed information on queries and returned values (this response code is never returned).
      security:
      - UserSessionQueryToken: []
      summary: Execute a query and receive results as table-structure even if groupings are specified. The result is a flat list of rows containing the requested columns.
      tags:
      - User session query language
      x-beta: "true"
  /events:
    get:
      description: As the number of uncorrelated events in an environment can be huge, this REST endpoint is limited to a maximum of 150 single events per request. This means that API consumers must use filters to further focus their queries, either on specific monitored entities or to requests that occurred during a specific time frame.
      operationId: queryEvents
      parameters:
      - description: Start of timeframe in milliseconds since Unix epoch.
        in: query
        name: from
        schema:
          format: int64
          type: integer
      - description: End of timeframe in milliseconds since Unix epoch. Default timeframe is the last 30 days
        in: query
        name: to
        schema:
          format: int64
          type: integer
      - description: Relative timeframe, back from the current time.
        in: query
        name: relativeTime
        schema:
          enum:
          - min
          - 5mins
          - 10mins
          - 15mins
          - 30mins
          - hour
          - 2hours
          - 6hours
          - day
          - 3days
          - week
          - month
          type: string
      - description: Filter the event feed based on a specific event type
        in: query
        name: eventType
        schema:
          enum:
          - CPU_SATURATED
          - MEMORY_SATURATED
          - SLOW_DISK
          - HIGH_LATENCY
          - INSUFFICIENT_DISK_QUEUE_DEPTH
          - HIGH_GC_ACTIVITY
          - MEMORY_RESOURCES_EXHAUSTED
          - THREADS_RESOURCES_EXHAUSTED
          - HIGH_CONNECTIVITY_FAILURES
          - HIGH_NETWORK_LOSS_RATE
          - PROCESS_CRASHED
          - PROCESS_UNAVAILABLE
          - OVERLOADED_STORAGE
          - HOST_SHUTDOWN
          - HIGH_DROPPED_PACKETS_RATE
          - HIGH_NETWORK_ERROR_RATE
          - HIGH_NETWORK_UTILIZATION
          - LOW_DISK_SPACE
          - CONNECTION_LOST
          - HOST_GRACEFULLY_SHUTDOWN
          - SERVICE_RESPONSE_TIME_DEGRADED
          - FAILURE_RATE_INCREASED
          - UNEXPECTED_HIGH_LOAD
          - UNEXPECTED_LOW_LOAD
          - USER_ACTION_DURATION_DEGRADATION
          - JAVASCRIPT_ERROR_RATE_INCREASED
          - ESXI_START
          - HOST_CONNECTION_LOST
          - HOST_CONNECTION_FAILED
          - HOST_MAINTENANCE
          - HOST_NO_CONNECTION
          - HOST_TIMEOUT
          - VIRTUAL_MACHINE_SHUTDOWN
          - SYNTHETIC_SLOWDOWN
          - WEB_CHECK_GLOBAL_OUTAGE
          - WEB_CHECK_LOCAL_OUTAGE
          - SYNTHETIC_AVAILABILITY
          - ELASTIC_LOAD_BALANCER_HIGH_UNHEALTHY_HOST_RATE
          - ELASTIC_LOAD_BALANCER_HIGH_FAILURE_RATE
          - ELASTIC_LOAD_BALANCER_HIGH_BACKEND_FAILURE_RATE
          - LOW_STORAGE_SPACE
          - EBS_VOLUME_HIGH_LATENCY
          - PROCESS_CUSTOM_AVAILABILITY
          - PROCESS_CUSTOM_ERROR
          - PROCESS_CUSTOM_PERFORMANCE
          - PROCESS_LOG_AVAILABILITY
          - PROCESS_LOG_ERROR
          - PROCESS_LOG_PERFORMANCE
          - LOG_AVAILABILITY
          - LOG_ERROR
          - LOG_PERFORMANCE
          - MOBILE_APP_CRASH_RATE_INCREASED
          - CUSTOM_APP_CRASH_RATE_INCREASED
          - PGI_HAPROXY_QUEUED_REQUESTS_HIGH
          - PGI_HAPROXY_SESSION_USAGE_HIGH
          - PGI_MYSQL_SLOW_QUERIES_RATE_HIGH
          - PGI_OF_SERVICE_UNAVAILABLE
          - HOST_OF_SERVICE_UNAVAILABLE
          - RDS_OF_SERVICE_UNAVAILABLE
          - HOST_LOG_ERROR
          - HOST_LOG_AVAILABILITY
          - HOST_LOG_PERFORMANCE
          - DOCKER_MEMORY_SATURATION
          - OSI_DOCKER_DEVICEMAPPER_LOW_DATA_SPACE
          - OSI_DOCKER_DEVICEMAPPER_LOW_METADATA_SPACE
          - HOST_DATASTORE_LOW_DISK_SPACE
          - OPENSTACK_KEYSTONE_UNHEALTHY
          - OPENSTACK_KEYSTONE_SLOW
          - PGI_RMQ_HIGH_MEM_USAGE
          - PGI_RMQ_HIGH_FILE_DESC_USAGE
          - PGI_RMQ_HIGH_SOCKETS_USAGE
          - PGI_RMQ_HIGH_PROCESS_USAGE
          - PGI_RMQ_LOW_DISK_SPACE
          - RDS_RESTART_SEQUENCE
          - LAMBDA_FUNCTION_HIGH_ERROR_RATE
          - CUSTOM_ALERT
          - PROCESS_GROUP_LOW_INSTANCE_COUNT
          - PERFORMANCE_EVENT
          - ERROR_EVENT
          - AVAILABILITY_EVENT
          - RESOURCE_CONTENTION
          - DATABASE_CONNECTION_FAILURE
          - HOST_DISK_LOW_INODES
          - CUSTOM_ANNOTATION
          - CUSTOM_DEPLOYMENT
          - CUSTOM_CONFIGURATION
          - APPLICATION_JS_FRAMEWORK_DETECTED
          - HOST_LOG_MATCHED
          - LOG_MATCHED
          - CUSTOM_INFO
          - MONITORING_UNAVAILABLE
          type: string
      - description: Only receive events for a given monitored entity, such as a host, process, or service
        in: query
        name: entityId
        schema:
          type: string
      - description: If a query returns a cursor string this string can be used to fetch the next 150 events of a query.Note that there is no need to specify additional parameters (for instance eventType, from or to) as the cursor string already contains all these parameters
        in: query
        name: cursor
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQueryResult'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Delivers a collection of events that fit the given filters
      tags:
      - Event
    post:
      description: |-
        The events REST endpoint enables 3rd party integrations to push custom events to one or more monitored entities via the API. The intent of this interface is to allow 3rd party systems, such as CI platforms (Jenkins, Bamboo, Electric Cloud, etc.) to provide additional detail for Dynatrace automated root cause analysis.
        The events API offers a set of semantically predefined event types that allow the Dynatrace problem correlation engine to correctly handle information provided by external systems. The predefined semantics of these event types allows for more precise root cause detection.
      operationId: postNaturalEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventPushMessage'
        required: false
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventStoreResult'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Pushes custom events to one or more monitored entities.
      tags:
      - Event
  /events/{eventId}:
    get:
      operationId: getEventById
      parameters:
      - description: Unique environment identifier for a specific event
        in: path
        name: eventId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRestEntry'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Delivers a single Event by its ID
      tags:
      - Event
  /synthetic/ext/events:
    post:
      operationId: pushEvents
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ExternalSyntheticEvents'
        description: JSON body of the request, containing external Synthetic events.
        required: true
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - ExternalSynthetic: []
      summary: Pushes information about external Synthetic events to Dynatrace.
      tags:
      - Synthetic
      x-early-access: "true"
  /synthetic/ext/stateModifications:
    post:
      operationId: pushStateModification
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/StateModification'
        description: JSON body of the request, containing new operational status of external Synthetic monitors.
        required: true
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                enum:
                - ACTIVE
                - INACTIVE
                - HIDDEN
                type: string
          description: successful operation
      security:
      - ExternalSynthetic: []
      summary: Modifies the operation state of all external monitors.
      tags:
      - Synthetic
      x-early-access: "true"
  /synthetic/ext/tests:
    post:
      operationId: testResults
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ExternalSyntheticTests'
        description: JSON body of the request, containing external Synthetic tests, locations, and test results.
        required: true
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                enum:
                - ACTIVE
                - INACTIVE
                - HIDDEN
                type: string
          description: successful operation
      security:
      - ExternalSynthetic: []
      summary: Pushes information about external Synthetic tests, locations, and test results to Dynatrace.
      tags:
      - Synthetic
      x-early-access: "true"
  /maintenance:
    get:
      operationId: getAllMaintenanceWindowConfigs
      parameters:
      - description: "The start timestamp of the inquiry timeframe, in UTC milliseconds.\
          \ \n\n If 0 or missing, the current time is used."
        in: query
        name: from
        schema:
          default: 0
          format: int64
          type: integer
      - description: "The end timestamp of the inquiry timeframe, in UTC milliseconds.\
          \ \n\n If 0 or missing, all maintenance windows beginning after the `from`\
          \ timestamp will be returned."
        in: query
        name: to
        schema:
          default: 0
          format: int64
          type: integer
      - description: "The type of the maintenance window to return. \n\n If `Unknown`\
          \ or missing, all maintenance windows are returned."
        in: query
        name: type
        schema:
          default: Unknown
          enum:
          - Unknown
          - Planned
          - Unplanned
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MaintenanceWindow'
                type: array
          description: successful operation
      security:
      - MaintenanceWindowToken: []
      summary: Lists all parameters of all maintenance windows available in your Dynatrace environment.
      tags:
      - Maintenance window
    post:
      operationId: storeMaintenanceWindowConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaintenanceWindow'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - MaintenanceWindowToken: []
      summary: Creates a new or updates an existing maintenance window.
      tags:
      - Maintenance window
  /maintenance/{uid}:
    delete:
      operationId: removeMaintenanceWindowConfig
      parameters:
      - description: The ID of the maintenance window to be deleted.
        in: path
        name: uid
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - MaintenanceWindowToken: []
      summary: Deletes a specified maintenance window. Deletion cannot be undone.
      tags:
      - Maintenance window
    get:
      operationId: getMaintenanceWindowConfig
      parameters:
      - in: path
        name: uid
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceWindow'
          description: successful operation
      security:
      - MaintenanceWindowToken: []
      summary: Lists all parameters of the specified maintenance window.
      tags:
      - Maintenance window
  /entity/infrastructure/custom/{entityAlias}:
    post:
      operationId: createCustomDataPoints
      parameters:
      - description: "ID of the custom device. \n\nIf you use the ID of an existing\
          \ device, the respective parameters will be updated."
        in: path
        name: entityAlias
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CustomDevicePushMessage'
        description: JSON body of the request containing entity's parameters.
        required: false
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CustomDevicePushResult'
          description: Successfully created custom entity
      security:
      - DataExportToken: []
      summary: Creates/updates a custom device, or reports metric data points to the custom device.
      tags:
      - Topology & Smartscape - Custom device
  /entity/infrastructure/hosts/{meIdentifier}:
    get:
      operationId: getSingleHost
      parameters:
      - description: "Dynatrace entity ID of the host you're inquiring. \n\nYou can\
          \ find it in the URL of the corresponding host page, for example, `HOST-007`."
        in: path
        name: meIdentifier
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Host'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Gets parameters of the specified host
      tags:
      - Topology & Smartscape - Host
    post:
      operationId: updateHost
      parameters:
      - description: "Dynatrace entity ID of the host to be updated. \n\nYou can find\
          \ it in the URL of the corresponding host page, for example, `HOST-007`."
        in: path
        name: meIdentifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/UpdateEntity'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - DataExportToken: []
      summary: Updates properties of the specified host
      tags:
      - Topology & Smartscape - Host
  /entity/infrastructure/hosts:
    get:
      description: You can narrow down the output by specifying filtering parameters of the request.
      operationId: getHosts
      parameters:
      - description: "Start timestamp of the requested timeframe, in milliseconds\
          \ (UTC). \n\nIf not set, then 72 hours behind from now is used."
        in: query
        name: startTimestamp
        schema:
          format: int64
          type: integer
      - description: "Start timestamp of the requested timeframe, in milliseconds\
          \ (UTC). \n\nIf not set, then now is used."
        in: query
        name: endTimestamp
        schema:
          format: int64
          type: integer
      - description: Relative timeframe, back from now.
        in: query
        name: relativeTime
        schema:
          enum:
          - min
          - 5mins
          - 10mins
          - 15mins
          - 30mins
          - hour
          - 2hours
          - 6hours
          - day
          - 3days
          - week
          - month
          type: string
      - description: "Filters the resulting set of hosts by the specified tag. \n\n\
          \ A host has to match ALL specified tags."
        explode: true
        in: query
        name: tag
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Include/exclude monitoring canditate to the response. \n\nMonitoring\
          \ candidates are network entities, which are detected but not monitored."
        in: query
        name: showMonitoringCandidates
        schema:
          type: boolean
      - description: Only return specified hosts.
        explode: true
        in: query
        name: entity
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/Host'
                type: array
          description: successful operation
      security:
      - DataExportToken: []
      summary: Lists all available hosts in your environment
      tags:
      - Topology & Smartscape - Host
  /entity/infrastructure/process-groups/{meIdentifier}:
    get:
      operationId: getSingleProcessGroup
      parameters:
      - description: "Dynatrace entity ID of the process group you're inquiring. \n\
          \nYou can find it in the URL of the corresponding process group page, for\
          \ example, `PROCESS_GROUP_INSTANCE-007`."
        in: path
        name: meIdentifier
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ProcessGroup'
          description: successful operation
      security:
      - DataExportToken: []
      summary: List properties of the specified process group
      tags:
      - Topology & Smartscape - Process group
    post:
      operationId: updateProcessGroup
      parameters:
      - description: "Dynatrace entity ID of the process group to be updated. \n\n\
          You can find it in the URL of the corresponding process group page, for\
          \ example, `PROCESS_GROUP_INSTANCE-007`."
        in: path
        name: meIdentifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/UpdateEntity'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - DataExportToken: []
      summary: Updates properties of the specified process group
      tags:
      - Topology & Smartscape - Process group
  /entity/infrastructure/process-groups:
    get:
      description: You can narrow down the output by specifying filtering paramters of the request.
      operationId: getProcessGroups
      parameters:
      - description: "Start timestamp of the requested timeframe, in milliseconds\
          \ (UTC). \n\nIf not set, then 72 hours behind from now is used."
        in: query
        name: startTimestamp
        schema:
          format: int64
          type: integer
      - description: "End timestamp of the requested timeframe, in milliseconds (UTC).\
          \ \n\nIf not set, then now is used."
        in: query
        name: endTimestamp
        schema:
          format: int64
          type: integer
      - description: Relative timeframe, back from now.
        in: query
        name: relativeTime
        schema:
          enum:
          - min
          - 5mins
          - 10mins
          - 15mins
          - 30mins
          - hour
          - 2hours
          - 6hours
          - day
          - 3days
          - week
          - month
          type: string
      - description: "Filters the resulting set of processes by the specified tags.\
          \ \n\n A process group has to match ALL specified tags."
        explode: true
        in: query
        name: tag
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only return specified process groups.
        explode: true
        in: query
        name: entity
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/ProcessGroup'
                type: array
          description: successful operation
      security:
      - DataExportToken: []
      summary: Lists all process groups of your environment, along with their parameters
      tags:
      - Topology & Smartscape - Process group
  /entity/infrastructure/processes:
    get:
      description: You can narrow down the output by specifying filtering parameters of the request.
      operationId: getProcesses
      parameters:
      - description: "Start timestamp of the requested timeframe, in milliseconds\
          \ (UTC). \n\n72 hours from now is used if the value is not set."
        in: query
        name: startTimestamp
        schema:
          format: int64
          type: integer
      - description: "End timestamp of the requested timeframe, in milliseconds (UTC).\
          \ \n\nThe current timestamp is used if the value is not set."
        in: query
        name: endTimestamp
        schema:
          format: int64
          type: integer
      - description: Relative timeframe, back from now.
        in: query
        name: relativeTime
        schema:
          enum:
          - min
          - 5mins
          - 10mins
          - 15mins
          - 30mins
          - hour
          - 2hours
          - 6hours
          - day
          - 3days
          - week
          - month
          type: string
      - description: "Filters the resulting set of processes by the specified tag.\
          \ \n\n A process has to match ALL specified tags."
        explode: true
        in: query
        name: tag
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only return specified processes.
        explode: true
        in: query
        name: entity
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Filters processes by the host they're running at. \n\nSpecify\
          \ tags of the host you're interested in."
        explode: true
        in: query
        name: hostTag
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Filters processes by the host they're running at. \n\nSpecify\
          \ Dynatrace IDs of the host you're interested in."
        explode: true
        in: query
        name: host
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filters processes by the actual monitoring state of the process.
        in: query
        name: actualMonitoringState
        schema:
          enum:
          - ON
          - OFF
          type: string
      - description: Filters processes by the expected monitoring state of the process.
        in: query
        name: expectedMonitoringState
        schema:
          enum:
          - ON
          - OFF
          type: string
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/ProcessGroupInstance'
                type: array
          description: successful operation
      security:
      - DataExportToken: []
      summary: List all monitored processes along with their parameters
      tags:
      - Topology & Smartscape - Process
  /entity/infrastructure/processes/{meIdentifier}:
    get:
      operationId: getSingleProcess
      parameters:
      - description: "Dynatrace entity ID of the process you're inquiring. \n\nYou\
          \ can find it in the URL of the corresponding process page, for example,\
          \ `PROCESS_INSTANCE-007`."
        in: path
        name: meIdentifier
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ProcessGroupInstance'
          description: successful operation
      security:
      - DataExportToken: []
      summary: List properties of the specified process
      tags:
      - Topology & Smartscape - Process
  /entity/applications/{meIdentifier}:
    get:
      operationId: getSingleApplication
      parameters:
      - description: "Dynatrace entity ID of the application you're inquiring. \n\n\
          You can find them in the URL of the corresponding application page, for\
          \ example, `APPLICATION-007`."
        in: path
        name: meIdentifier
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Application'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Gets parameters of the specified application
      tags:
      - Topology & Smartscape - Application
    post:
      operationId: updateApplication
      parameters:
      - description: "Dynatrace entity ID of the application to be updated. \n\nYou\
          \ can find them in the URL of the corresponding application page, for example,\
          \ `APPLICATION-007`."
        in: path
        name: meIdentifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/UpdateEntity'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - DataExportToken: []
      summary: Updates parameters of the specified application
      tags:
      - Topology & Smartscape - Application
  /entity/applications:
    get:
      description: You can optionally specify timeframe, to filter the output only to applications, active in specified time.
      operationId: getApplications
      parameters:
      - description: "Start timestamp of the requested timeframe, in milliseconds\
          \ (UTC). \n\nIf no timeframe specified the 72 hours behind from now is used."
        in: query
        name: startTimestamp
        schema:
          format: int64
          type: integer
      - description: "End timestamp of the requested timeframe, in milliseconds (UTC).\
          \ \n\nIf no timeframe specified then now is used."
        in: query
        name: endTimestamp
        schema:
          format: int64
          type: integer
      - description: 'Relative timeframe, back from now. '
        in: query
        name: relativeTime
        schema:
          enum:
          - min
          - 5mins
          - 10mins
          - 15mins
          - 30mins
          - hour
          - 2hours
          - 6hours
          - day
          - 3days
          - week
          - month
          type: string
      - description: "Filters the resulting set of applications by the specified tag.\
          \ \n\n An application has to match ALL specified tags."
        explode: true
        in: query
        name: tag
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only return specified applications.
        explode: true
        in: query
        name: entity
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: successful operation
      security:
      - DataExportToken: []
      summary: Gets the list of all applications in your environment along with their parameters
      tags:
      - Topology & Smartscape - Application
  /entity/services:
    get:
      description: You can narrow down the output by specifying filtering parameters of the request.
      operationId: getServices
      parameters:
      - description: "Start timestamp of the requested timeframe, in milliseconds\
          \ (UTC). \n\n72 hours from now is used if the value is not set."
        in: query
        name: startTimestamp
        schema:
          format: int64
          type: integer
      - description: "End timestamp of the requested timeframe, in milliseconds (UTC).\
          \ \n\nThe current timestamp is used if the value is not set."
        in: query
        name: endTimestamp
        schema:
          format: int64
          type: integer
      - description: Relative timeframe, back from now.
        in: query
        name: relativeTime
        schema:
          enum:
          - min
          - 5mins
          - 10mins
          - 15mins
          - 30mins
          - hour
          - 2hours
          - 6hours
          - day
          - 3days
          - week
          - month
          type: string
      - description: "Filters the response by the specified tag. \n\n A service has\
          \ to match ALL specified tags."
        explode: true
        in: query
        name: tag
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filters the response to the specified services only.
        explode: true
        in: query
        name: entity
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/Service'
                type: array
          description: successful operation
      security:
      - DataExportToken: []
      summary: Lists all available services in your environment
      tags:
      - Topology & Smartscape - Service
  /entity/services/{meIdentifier}:
    get:
      operationId: getSingleService
      parameters:
      - description: "Dynatrace entity ID of the service you're inquiring. \n\nYou\
          \ can find it in the URL of the corresponding host page, for example, `SERVICE-007`."
        in: path
        name: meIdentifier
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Service'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Gets parameters of the specified service
      tags:
      - Topology & Smartscape - Service
    post:
      operationId: updateService
      parameters:
      - description: "Dynatrace entity ID of the service you're inquiring. \n\nYou\
          \ can find it in the URL of the corresponding service page, for example,\
          \ `SERVICE-007`."
        in: path
        name: meIdentifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/UpdateEntity'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - DataExportToken: []
      summary: Updates parameters of the specified service
      tags:
      - Topology & Smartscape - Service
  /problem/details/{problemId}/comments:
    get:
      operationId: getComment
      parameters:
      - description: The ID of the problem where you want to read the comments.
        in: path
        name: problemId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ProblemCommentList'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Gets all the comments for the specified problem.
      tags:
      - Problem
    post:
      operationId: pushComment
      parameters:
      - description: The ID of the problem where you want to add the comment.
        in: path
        name: problemId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ProblemComment'
        description: JSON body of the request, containing the comment information.
        required: false
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ProblemComment'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Adds a new comment to the specified problem.
      tags:
      - Problem
  /problem/details/{problemId}:
    get:
      operationId: getDetails
      parameters:
      - description: The ID of the problem you're inquiring.
        in: path
        name: problemId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResultWrapper'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Gets the details about the specified problem.
      tags:
      - Problem
  /problem/details/{problemId}/comments/{commentId}:
    delete:
      operationId: deleteComment
      parameters:
      - description: The ID of the problem where you want to delete the comment.
        in: path
        name: problemId
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the comment to be deleted.
        in: path
        name: commentId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - DataExportToken: []
      summary: Deletes an existing comment of the specified problem.
      tags:
      - Problem
    put:
      operationId: updateComment
      parameters:
      - description: The ID of the problem where you want to edit the comment.
        in: path
        name: problemId
        required: true
        schema:
          format: int64
          type: integer
      - description: The ID of the comment you want to edit.
        in: path
        name: commentId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ProblemComment'
        description: JSON body of the request, containing the updated comment information.
        required: false
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ProblemComment'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Updates an existing comment for the specified problem.
      tags:
      - Problem
  /problem/status:
    get:
      description: Lists the number of open problems, split by impact level.
      operationId: getProblemStatus
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ProblemStatusResultWrapper'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Gets the number of current problems.
      tags:
      - Problem
  /problem/feed:
    get:
      description: Lists problems observed within a relative time along with problem's properties, plus the count of monitored entities for each impact level.
      operationId: getFeed
      parameters:
      - description: Relative timeframe, back from the current time.
        in: query
        name: relativeTime
        schema:
          enum:
          - min
          - 5mins
          - 10mins
          - 15mins
          - 30mins
          - hour
          - 2hours
          - 6hours
          - day
          - 3days
          - week
          - month
          type: string
      - description: Start timestamp of the requested timeframe, in milliseconds (UTC). The start time must be earlier than the end time.
        in: query
        name: startTimestamp
        schema:
          format: int64
          type: integer
      - description: "End timestamp of the requested timeframe, in milliseconds (UTC).\
          \ End time must be later than the start time. \n\nIf `endTimestamp` is later\
          \ than the current time, Dynatrace automatically uses current time instead."
        in: query
        name: endTimestamp
        schema:
          format: int64
          type: integer
      - description: Filters the result problems by the status.
        in: query
        name: status
        schema:
          enum:
          - OPEN
          - CLOSED
          type: string
      - description: Filters the result problems by the impact level.
        in: query
        name: impactLevel
        schema:
          enum:
          - INFRASTRUCTURE
          - SERVICE
          - APPLICATION
          - ENVIRONMENT
          type: string
      - description: Filters the result problems by the severity level.
        in: query
        name: severityLevel
        schema:
          enum:
          - AVAILABILITY
          - ERROR
          - PERFORMANCE
          - RESOURCE_CONTENTION
          - CUSTOM_ALERT
          - MONITORING_UNAVAILABLE
          type: string
      - description: Filters the result problems by the tags of affected entities.
        explode: true
        in: query
        name: tag
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Chooses to have rankedEvents exposed in a problem feed
        in: query
        name: expandDetails
        schema:
          type: boolean
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ProblemFeedResultWrapper'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Gets the information about problems within the specified timeframe.
      tags:
      - Problem
  /thresholds:
    get:
      operationId: readCustomThresholds
      parameters:
      - description: Filters thresholds by the source.
        in: query
        name: filter
        schema:
          enum:
          - ALL
          - WEB_UI
          - PLUGIN
          - REMOTE_PLUGIN
          - API
          - USER_INTERACTION
          type: string
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/Threshold'
                type: array
          description: successful operation
      security:
      - DataExportToken: []
      summary: Gets all configured thresholds for plugins and custom events in a monitored environment.
      tags:
      - Threshold
  /thresholds/{thresholdId}:
    delete:
      operationId: deleteCustomThreshold
      parameters:
      - description: The ID of the threshold to be deleted.
        in: path
        name: thresholdId
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - DataExportToken: []
      summary: Deletes the specified threshold.
      tags:
      - Threshold
    put:
      operationId: createCustomThreshold
      parameters:
      - description: ID of the threshold to be created or updated.
        in: path
        name: thresholdId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ThresholdRegistrationMessage'
        description: JSON body of the request, containing threshold parameters.
        required: false
      responses:
        201:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Threshold'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Creates or updates an existing threshold for a plugin or a custom event.
      tags:
      - Threshold
  /timeseries:
    get:
      description: You can specify filtering paramters to return only matched metrics. If no parameters are specified, the call will list all the defined and exposed metrics.
      operationId: getAllTimeseriesDefinitions
      parameters:
      - description: Metric type. Allowed values are `BUILTIN`, `PLUGIN`, and `CUSTOM`.
        in: query
        name: source
        schema:
          enum:
          - ALL
          - PLUGIN
          - REMOTE_PLUGIN
          - BUILTIN
          - CUSTOM
          type: string
      - description: The feature, where metrics originate, such as Synthetic or RUM.
        in: query
        name: detailedSource
        schema:
          type: string
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/TimeseriesDefinition'
                type: array
          description: successful operation
      security:
      - DataExportToken: []
      summary: Lists all metric definitions, along with parameters of each metric.
      tags:
      - Timeseries
  /timeseries/{timeseriesIdentifier}:
    delete:
      operationId: deleteCustomTimeseries
      parameters:
      - description: The ID of the metric to be deleted.
        in: path
        name: timeseriesIdentifier
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      security:
      - DataExportToken: []
      summary: Deletes a custom metric.
      tags:
      - Timeseries
    get:
      description: "To obtain data points, set **includeData** to `true`. \n\nYou\
        \ can obtain either data points or the scalar result of the specified timeseries,\
        \ depending on the **queryMode**. \n\nTo obtain data points you must specify\
        \ the timeframe, either as **relativeTime** or as combination of **startTimestamp**\
        \ and **endTimestamp**. You must also provide **aggregationType**, supported\
        \ by the metric."
      operationId: readTimeseriesData
      parameters:
      - description: Case-sensitive identifier of the timeseries, where you want to read parameters and data points.
        in: path
        name: timeseriesIdentifier
        required: true
        schema:
          type: string
      - description: "Flag to include data points to the response. \n\n To obtain\
          \ data points you must specify the timeframe and aggregation type."
        in: query
        name: includeData
        schema:
          type: boolean
      - description: "The aggregation type for the resulting data points. \n\nIf the\
          \ requested metric doesn't support the specified aggregation, the request\
          \ will result in an error."
        in: query
        name: aggregationType
        schema:
          enum:
          - MIN
          - MAX
          - SUM
          - AVG
          - MEDIAN
          - COUNT
          - PERCENTILE
          type: string
      - description: Start timestamp of the requested timeframe, in milliseconds (UTC). The start time must be earlier than the end time.
        in: query
        name: startTimestamp
        schema:
          format: int64
          type: integer
      - description: "End timestamp of the requested timeframe, in milliseconds (UTC).\
          \ End time must be later than the start time. \n\nIf later than the current\
          \ time, Dynatrace automatically uses current time instead."
        in: query
        name: endTimestamp
        schema:
          format: int64
          type: integer
      - description: Used to predict future data points.
        in: query
        name: predict
        schema:
          type: boolean
      - description: Relative timeframe, back from the current time.
        in: query
        name: relativeTime
        schema:
          enum:
          - min
          - 5mins
          - 10mins
          - 15mins
          - 30mins
          - hour
          - 2hours
          - 6hours
          - day
          - 3days
          - week
          - month
          type: string
      - description: "The type of result that the call should return. Valid result\
          \ modes are: \n`series`: returns all the data points of the timeseries in\
          \ specified timeframe. \n`total`: returns one scalar value for the specified\
          \ timeframe. \n\nBy default, the `series` mode is used."
        in: query
        name: queryMode
        schema:
          enum:
          - SERIES
          - TOTAL
          type: string
      - description: "Filters requested data points by entity which should deliver\
          \ them. \n\nAllowed values are Dynatrace entity IDs. You can find them in\
          \ the URL of the corresponding Dynatrace entity page, for example, `HOST-007`.\
          \ \n\nIf the selected entity doesn't support the requested timeseries, the\
          \ request will result in an error."
        explode: true
        in: query
        name: entity
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Filters the resulting set of applications by the specified tag.\
          \ \n\nUse multiple tag parameters to combine multiple tag filters using\
          \ the logical operator AND. \n\nIn case of key-value tags, such as imported\
          \ AWS or CloudFoundry tags use following format: `[context]key:value`."
        explode: true
        in: query
        name: tag
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "In case of the percentile aggregation type, this parameter specifies\
          \ which percentile of the selected response time metric should be delivered.\
          \ Valid values for percentile are between 1 and 99. \n\nPlease keep in mind\
          \ that percentile export is only possible for response-time based metrics\
          \ such as application and service response times."
        in: query
        name: percentile
        schema:
          format: int32
          type: integer
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/TimeseriesQueryResult'
                type: array
          description: successful operation
      security:
      - DataExportToken: []
      summary: Gets the parameters of the specified metric and optionally data points.
      tags:
      - Timeseries
    post:
      description: Provides advanced filtering possibilities, comparing to the `GET /timeseries/{metricIdentifier}` request.
      operationId: readTimeseriesComplex
      parameters:
      - description: Case-sensitive identifier of the timeseries, where you want to read parameters and data points.
        in: path
        name: timeseriesIdentifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/TimeseriesQueryMessage'
        description: JSON body of the request, containing parameters to identify the required data points.
        required: false
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TimeseriesQueryResultWrapper'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Lists all available metric data points, matching specified parameters.
      tags:
      - Timeseries
    put:
      operationId: createCustomTimeseries
      parameters:
      - description: "The ID for the new metric. It must start with the `custom:`\
          \ prefix. \n\nIf you use the ID of an existing metric the respective parameters\
          \ will be updated."
        in: path
        name: timeseriesIdentifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/TimeseriesRegistrationMessage'
        description: The body of the request, containing metric parameters.
        required: false
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/TimeseriesDefinition'
          description: successful operation
      security:
      - DataExportToken: []
      summary: Creates a new custom metric.
      tags:
      - Timeseries
  /time:
    get:
      operationId: getCurrentClusterTime
      responses:
        200:
          content:
            text/plain:
              schema:
                format: int64
                type: integer
          description: successful operation
      summary: Gets the current cluster time in UTC milliseconds.
      tags:
      - Cluster time
components:
  schemas:
    SyntheticTestStepResult:
      description: Results of individual test steps.
      example:
        id: 3
        responseTimeMillis: 4
        error:
          code: 7
          message: message
        startTimestamp: 2
      properties:
        id:
          description: ID of the step. It is unique within the test definition.
          format: int64
          type: integer
        startTimestamp:
          description: Timestamp of text step execution, UTC milliseconds.
          format: int64
          type: integer
        responseTimeMillis:
          description: "The response time of the step, milliseconds. \n\n Absent when\
            \ no meaningful response time available as may be the case for certain\
            \ error conditions such as a misconfigured step script."
          format: int64
          type: integer
        error:
          $ref: '#/components/schemas/SyntheticStepError'
      required:
      - id
      - startTimestamp
      type: object
    SyntheticLocation:
      description: Synthetic location.
      example:
        ip: ip
        name: name
        id: id
      properties:
        id:
          description: Unique ID of the location.
          type: string
        name:
          description: Location name displayed in the UI.
          type: string
        ip:
          description: IP address of the location.
          type: string
      required:
      - id
      - ip
      type: object
    ThresholdRegistrationMessage:
      description: Parameters of a single plugin or custom event threshold.
      example:
        thresholdId: tooManyCoffeesMade
        timeseriesId: received.coffees
        threshold: 10000.0
        alertCondition: ABOVE
        samples: 1
        violatingSamples: 1
        dealertingSamples: 1
        eventType: AVAILABILITY_EVENT
        eventName: Too many coffees made
        description: The coffee machine must not produce a number of coffees {alert_condition} {threshold}.
        enabled: true
      properties:
        thresholdId:
          description: Unique ID of the threshold.
          type: string
        timeseriesId:
          description: "Case-sensitive identifier of the metric evaluated by threshold.\
            \ \n\n You can use it to find the metric via the `timeseries` endpoint\
            \ of the API."
          type: string
        threshold:
          description: The value of the threshold.
          format: double
          type: number
        alertCondition:
          description: 'Condition for the threshold value check: above or below.'
          enum:
          - ABOVE
          - BELOW
          type: string
        samples:
          description: The number of one-minute samples that form sliding evaluation window.
          format: int32
          type: integer
        violatingSamples:
          description: How many one-minute samples within the evaluation window should violate the threshold to trigger an event.
          format: int32
          type: integer
        dealertingSamples:
          description: How many one-minute samples within the evaluation window should go back to normal to close the event.
          format: int32
          type: integer
        eventType:
          description: The type of the event to trigger on the threshold violation.
          enum:
          - AVAILABILITY_EVENT
          - ERROR_EVENT
          - PERFORMANCE_EVENT
          type: string
        eventName:
          description: The human-readable name of the event
          type: string
        description:
          description: "Desription of the event, triggered by a threshold violation.\
            \ \n\n You can use the following placeholders: \n{severity}: the actual\
            \ metric value,\n {alert_condition}: above or below threshold condition,\
            \ \n{threshold}: the threshold value,{violating_samples}: the amount of\
            \ samples, violating the threshold, \n{dimensions}: metric's dimension\
            \ that violated the threshold."
          type: string
        enabled:
          description: Threshold is enabled/disabled.
          type: boolean
      type: object
    MaintenanceWindowRecurrence:
      description: Object defining recurrence of the maintenance window.
      example:
        duration: 6
        dayOfMonth: 0
        start: start
        day: MONDAY
      properties:
        day:
          description: "The day of the week for weekly maintenance. \n\n The format\
            \ is the full name of the day in upper case, for example `WEDNESDAY`."
          enum:
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
          type: string
        dayOfMonth:
          description: The day of the month for monthly maintenance.
          format: int32
          type: integer
        start:
          description: Time of the maintenance window start. The format is `HH:mm`.
          type: string
        duration:
          description: Duration of the maintenance window in minutes.
          format: int32
          type: integer
      required:
      - duration
      - start
      type: object
    AgentVersion:
      description: Defines the version of the agent currently running on the entity.
      example:
        major: 5
        minor: 2
        sourceRevision: sourceRevision
        revision: 7
        timestamp: timestamp
      properties:
        major:
          description: The major version number.
          format: int32
          type: integer
        minor:
          description: The minor version number.
          format: int32
          type: integer
        revision:
          description: The revision number.
          format: int32
          type: integer
        sourceRevision:
          description: A string representation of the SVN revision number.
          type: string
        timestamp:
          description: 'A timestamp string: format "yyyymmdd-hhmmss'
          type: string
      type: object
    ProblemDetailsResultWrapper:
      example:
        result:
          tagsOfAffectedEntities:
          - context: CONTEXTLESS
            value: value
            key: key
          - context: CONTEXTLESS
            value: value
            key: key
          displayName: displayName
          commentCount: 1
          affectedCounts: '{}'
          hasRootCause: true
          impactLevel: INFRASTRUCTURE
          severityLevel: AVAILABILITY
          rankedImpacts:
          - impactLevel: INFRASTRUCTURE
            severityLevel: AVAILABILITY
            entityName: entityName
            entityId: entityId
            eventType: CPU_SATURATED
          - impactLevel: INFRASTRUCTURE
            severityLevel: AVAILABILITY
            entityName: entityName
            entityId: entityId
            eventType: CPU_SATURATED
          recoveredCounts: '{}'
          startTime: 0
          id: id
          endTime: 6
          rankedEvents:
          - deploymentProject: deploymentProject
            cpuLimitInMHz: 7
            deploymentParamAdded: deploymentParamAdded
            isClusterWide: true
            source: source
            effectiveEntity: effectiveEntity
            operatingSystem: operatingSystem
            artifact: artifact
            severityLevel: AVAILABILITY
            cpuLoad: 9.301444
            affectedRequestsPerMinute: 3.6160767
            entityName: entityName
            annotationDescription: annotationDescription
            browser: INFRASTRUCTURE
            affectedSyntheticLocations:
            - affectedSyntheticLocations
            - affectedSyntheticLocations
            startTime: 5
            deploymentName: deploymentName
            deploymentParamRemoved: deploymentParamRemoved
            userDefined50thPercentileThreshold: 2.027123
            serviceMethodGroup: serviceMethodGroup
            referenceResponseTime90thPercentile: 4.145608
            isRootCause: true
            userAction: userAction
            minimumProcessGroupInstanceCountThreshold: 7
            referenceResponseTime50thPercentile: 1.2315135
            userDefined90thPercentileThreshold: 1.0246457
            deploymentVersion: deploymentVersion
            annotationType: annotationType
            entityId: entityId
            affectedSyntheticActions:
            - affectedSyntheticActions
            - affectedSyntheticActions
            eventType: CPU_SATURATED
            affectedUserActionsPerMinute: 1.4894159
            activeMaintenanceWindows:
            - activeMaintenanceWindows
            - activeMaintenanceWindows
            mobileAppVersion: mobileAppVersion
            impactLevel: INFRASTRUCTURE
            userDefinedFailureRateThreshold: 6.846853
            percentile: 50th
            customProperties:
              key: customProperties
            remediationAction: remediationAction
            service: service
            endTime: 5
            ciBackLink: ciBackLink
            status: OPEN
            severities:
            - unit: NanoSecond
              context: CPU_USAGE
              value: 2.3021358869347654518833223846741020679473876953125
            - unit: NanoSecond
              context: CPU_USAGE
              value: 2.3021358869347654518833223846741020679473876953125
            geolocation: geolocation
            serviceMethod: serviceMethod
          - deploymentProject: deploymentProject
            cpuLimitInMHz: 7
            deploymentParamAdded: deploymentParamAdded
            isClusterWide: true
            source: source
            effectiveEntity: effectiveEntity
            operatingSystem: operatingSystem
            artifact: artifact
            severityLevel: AVAILABILITY
            cpuLoad: 9.301444
            affectedRequestsPerMinute: 3.6160767
            entityName: entityName
            annotationDescription: annotationDescription
            browser: INFRASTRUCTURE
            affectedSyntheticLocations:
            - affectedSyntheticLocations
            - affectedSyntheticLocations
            startTime: 5
            deploymentName: deploymentName
            deploymentParamRemoved: deploymentParamRemoved
            userDefined50thPercentileThreshold: 2.027123
            serviceMethodGroup: serviceMethodGroup
            referenceResponseTime90thPercentile: 4.145608
            isRootCause: true
            userAction: userAction
            minimumProcessGroupInstanceCountThreshold: 7
            referenceResponseTime50thPercentile: 1.2315135
            userDefined90thPercentileThreshold: 1.0246457
            deploymentVersion: deploymentVersion
            annotationType: annotationType
            entityId: entityId
            affectedSyntheticActions:
            - affectedSyntheticActions
            - affectedSyntheticActions
            eventType: CPU_SATURATED
            affectedUserActionsPerMinute: 1.4894159
            activeMaintenanceWindows:
            - activeMaintenanceWindows
            - activeMaintenanceWindows
            mobileAppVersion: mobileAppVersion
            impactLevel: INFRASTRUCTURE
            userDefinedFailureRateThreshold: 6.846853
            percentile: 50th
            customProperties:
              key: customProperties
            remediationAction: remediationAction
            service: service
            endTime: 5
            ciBackLink: ciBackLink
            status: OPEN
            severities:
            - unit: NanoSecond
              context: CPU_USAGE
              value: 2.3021358869347654518833223846741020679473876953125
            - unit: NanoSecond
              context: CPU_USAGE
              value: 2.3021358869347654518833223846741020679473876953125
            geolocation: geolocation
            serviceMethod: serviceMethod
          status: OPEN
      properties:
        result:
          $ref: '#/components/schemas/Problem'
      type: object
    TagMatchRule:
      description: Allows to attach an event to an entity that fits the specified criteria
      properties:
        meTypes:
          description: List of ME types the event can be attached to
          items:
            enum:
            - HOST
            - PROCESS_GROUP_INSTANCE
            - DOCKER_CONTAINER_GROUP_INSTANCE
            - DISK
            - NETWORK_INTERFACE
            - HYPERVISOR
            - VIRTUALMACHINE
            - EC2_INSTANCE
            - ELASTIC_LOAD_BALANCER
            - RELATIONAL_DATABASE_SERVICE
            - AWS_LAMBDA_FUNCTION
            - EBS_VOLUME
            - DYNAMO_DB_TABLE
            - SERVICE
            - APPLICATION
            - MOBILE_APPLICATION
            - CUSTOM_APPLICATION
            - SYNTHETIC_TEST
            - CUSTOM_DEVICE
            - APPLICATION_METHOD
            - SERVICE_METHOD
            - GEOLOCATION
            - PROCESS_GROUP
            - OPENSTACK_REGION
            - OPENSTACK_VM
            - CINDER_VOLUME
            - NEUTRON_SUBNET
            - SWIFT_CONTAINER
            - OPENSTACK_PROJECT
            - DCRUM_SERVICE
            - DCRUM_SERVICE_INSTANCE
            - DCRUM_APPLICATION
            - VMWARE_DATACENTER
            - AZURE_REGION
            - AZURE_VM
            - AWS_AVAILABILITY_ZONE
            - GEOLOC_SITE
            - AUXILIARY_SYNTHETIC_TEST
            - CUSTOM_DEVICE_GROUP
            - SYNTHETIC_TEST_STEP
            - AZURE_SQL_SERVER
            - AZURE_APPLICATION_GATEWAY
            - AZURE_LOAD_BALANCER
            - AZURE_API_MANAGEMENT_SERVICE
            - AZURE_REDIS_CACHE
            - AZURE_EVENT_HUB
            - SERVICE_INSTANCE
            - OS
            - HOST_GROUP
            - ENVIRONMENT
            - GOOGLE_COMPUTE_ENGINE
            - GCP_ZONE
            type: string
          type: array
        tags:
          description: List of Tags an entity has to match
          items:
            $ref: '#/components/schemas/TagInfo'
          type: array
      type: object
    ExternalEventResolvedNotification:
      description: Resolved Synthetic event.
      example:
        eventId: eventId
        testId: testId
        endTimestamp: 6
      properties:
        testId:
          description: The ID of Synthetic test.
          type: string
        eventId:
          description: The unique ID of the event.
          type: string
        endTimestamp:
          description: End timestamp of the event.
          format: int64
          type: integer
      type: object
    SyntheticTestStep:
      description: Synthetic test step.
      example:
        id: 1
        title: title
      properties:
        id:
          description: Unique ID of the step.
          format: int64
          type: integer
        title:
          description: Step name, displayed in the UI.
          type: string
      type: object
    MonitoringState:
      description: Defines the current monitoring state of an entity.
      example:
        actualMonitoringState: ON
        restartRequired: true
        expectedMonitoringState: ON
      properties:
        actualMonitoringState:
          description: The current actual monitoring state on the entity.
          enum:
          - ON
          - OFF
          type: string
        expectedMonitoringState:
          description: The monitoring which is expected from the configuration
          enum:
          - ON
          - OFF
          type: string
        restartRequired:
          description: Defines whether or not the process has to restarted to enable monitoring
          type: boolean
      type: object
    TimeseriesRegistrationMessage:
      description: Definition of a custom metric.
      example:
        displayName: received.coffees
        unit: Count
        dimensions:
        - coffee
        types:
        - coffee machine
      properties:
        displayName:
          description: The name of the metric that will appear in the user interface. It is limited to 256 characters.
          type: string
        unit:
          description: The unit the metric will use. If the parameter is not specified or the wrong value is specified, the `Count` value will be assigned.
          enum:
          - NanoSecond
          - MicroSecond
          - MilliSecond
          - Second
          - Minute
          - Hour
          - Bit
          - Byte
          - KiloByte
          - KibiByte
          - MegaByte
          - MebiByte
          - GigaByte
          - GibiByte
          - BytePerSecond
          - BytePerMinute
          - BitPerSecond
          - BitPerMinute
          - KiloBytePerSecond
          - KiloBytePerMinute
          - KibiBytePerSecond
          - KibiBytePerMinute
          - MegaBytePerSecond
          - MegaBytePerMinute
          - MebiBytePerSecond
          - MebiBytePerMinute
          - Ratio
          - Percent
          - Promille
          - Count
          - PerSecond
          - PerMinute
          - State
          - Unspecified
          - NotApplicable
          type: string
        dimensions:
          description: "Metric dimension key that will be used to report multiple\
            \ dimensions. For example, a dimension key to report the metric for different\
            \ network cards for the same firewall. The name of dimensions is only\
            \ allowed to contain alphanumeric characters, dots ., hyphens -, and underscores\
            \ _. \n\nThe CUSTOM_DEVICE dimension is added to each new custom metric\
            \ automatically."
          items:
            type: string
          type: array
        types:
          description: |-
            Technology type definition. Used to group metrics under a logical technology name in the UI.

            Metrics must be assigned a software technology type that is identical to the technology type of the custom device you are sending the metric to. For example, if you define your custom device using type `F5-Firewall` you must also register all related custom metrics as type `F5-Firewall`.
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    AnonymizationIdResult:
      example:
        requestId: -4013759873546847071
      properties:
        requestId:
          description: returns the id of the anonymization request.
          example: -4013759873546847071
          type: string
      type: object
    ProcessGroupInstance:
      example:
        toRelationships: '{}'
        bitness: 32bit
        metadata: '{}'
        displayName: displayName
        versionedModules:
        - name: name
          version: version
        - name: name
          version: version
        softwareTechnologies:
        - edition: edition
          type: type
          version: version
        - edition: edition
          type: type
          version: version
        entityId: entityId
        discoveredName: discoveredName
        firstSeenTimestamp: 0
        listenPorts:
        - 1
        - 1
        modules:
        - modules
        - modules
        customizedName: customizedName
        tags:
        - context: CONTEXTLESS
          value: value
          key: key
        - context: CONTEXTLESS
          value: value
          key: key
        fromRelationships: '{}'
        monitoringState:
          actualMonitoringState: ON
          restartRequired: true
          expectedMonitoringState: ON
        lastSeenTimestamp: 6
        agentVersions:
        - major: 5
          minor: 2
          sourceRevision: sourceRevision
          revision: 7
          timestamp: timestamp
        - major: 5
          minor: 2
          sourceRevision: sourceRevision
          revision: 7
          timestamp: timestamp
        azureHostName:
        - azureHostName
        - azureHostName
        azureSiteName:
        - azureSiteName
        - azureSiteName
      properties:
        entityId:
          description: "Dynatrace entity ID of the required entity. \n\nYou can find\
            \ them in the URL of the corresponding Dynatrace page, for example, `HOST-007`."
          type: string
        displayName:
          description: The name of the Dynatrace entity, displayed in the UI.
          type: string
        customizedName:
          description: Customized name of the entity
          type: string
        discoveredName:
          description: Discovered name of the entity
          type: string
        firstSeenTimestamp:
          description: Timestamp in UTC milliseconds when the entity was detected for the first time.
          format: int64
          type: integer
        lastSeenTimestamp:
          description: Timestamp in UTC milliseconds when the entity was detected for the last time.
          format: int64
          type: integer
        tags:
          description: The list of entity tags.
          items:
            $ref: '#/components/schemas/TagInfo'
          type: array
          uniqueItems: true
        fromRelationships:
          properties:
            isProcessOf:
              description: ""
              items:
                type: string
              type: array
            isInstanceOf:
              description: ""
              items:
                type: string
              type: array
            isNetworkClientOf:
              description: ""
              items:
                type: string
              type: array
          type: object
        toRelationships:
          properties:
            runsOnProcessGroupInstance:
              description: ""
              items:
                type: string
              type: array
            isNetworkClientOf:
              description: ""
              items:
                type: string
              type: array
          type: object
        listenPorts:
          description: ""
          items:
            format: int32
            type: integer
          type: array
        bitness:
          description: ""
          enum:
          - 32bit
          - 64bit
          type: string
        azureHostName:
          description: ""
          items:
            type: string
          type: array
        modules:
          description: ""
          items:
            type: string
          type: array
        metadata:
          description: ""
          properties:
            nodejsAppBaseDirectories:
              description: ""
              items:
                type: string
              type: array
            hostGroups:
              description: ""
              items:
                type: string
              type: array
            cloudFoundryAppIds:
              description: ""
              items:
                type: string
              type: array
            dynatraceNodeIds:
              description: ""
              items:
                type: string
              type: array
            executables:
              description: ""
              items:
                type: string
              type: array
            javaMainClasses:
              description: ""
              items:
                type: string
              type: array
            cassandraClusterNames:
              description: ""
              items:
                type: string
              type: array
            cloudFoundryAppNames:
              description: ""
              items:
                type: string
              type: array
            cloudFoundrySpaceNames:
              description: ""
              items:
                type: string
              type: array
            phpScripts:
              description: ""
              items:
                type: string
              type: array
            pluginMetadata:
              additionalProperties:
                type: string
              description: ""
              type: object
            dockerContainerNames:
              description: ""
              items:
                type: string
              type: array
            glassfishInstanceNames:
              description: ""
              items:
                type: string
              type: array
            tibcoBusinessWorksEnginePropertyFiles:
              description: ""
              items:
                type: string
              type: array
            jbossServerNames:
              description: ""
              items:
                type: string
              type: array
            catalinaBaseValues:
              description: ""
              items:
                type: string
              type: array
            kubernetesFullPodNames:
              description: ""
              items:
                type: string
              type: array
            apacheConfigPaths:
              description: ""
              items:
                type: string
              type: array
            varnishInstanceNames:
              description: ""
              items:
                type: string
              type: array
            phpWorkingDirectories:
              description: ""
              items:
                type: string
              type: array
            googleCloudProjects:
              description: ""
              items:
                type: string
              type: array
            dockerContainerImageVersions:
              description: ""
              items:
                type: string
              type: array
            hybrisConfigDirectories:
              description: ""
              items:
                type: string
              type: array
            executablePaths:
              description: ""
              items:
                type: string
              type: array
            awsEcrImageRegions:
              description: ""
              items:
                type: string
              type: array
            dotNetCommands:
              description: ""
              items:
                type: string
              type: array
            weblogicDomainNames:
              description: ""
              items:
                type: string
              type: array
            googleAppEngineServices:
              description: ""
              items:
                type: string
              type: array
            ibmIntegrationBusBrokerNames:
              description: ""
              items:
                type: string
              type: array
            elasticSearchNodeNames:
              description: ""
              items:
                type: string
              type: array
            kubernetesNamespaces:
              description: ""
              items:
                type: string
              type: array
            hybrisDataDirectories:
              description: ""
              items:
                type: string
              type: array
            envVariables:
              additionalProperties:
                type: string
              description: ""
              type: object
            javaJarFiles:
              description: ""
              items:
                type: string
              type: array
            javaJarPaths:
              description: ""
              items:
                type: string
              type: array
            dockerContainerIds:
              description: ""
              items:
                type: string
              type: array
            cloudFoundrySpaceIds:
              description: ""
              items:
                type: string
              type: array
            tibcoBWEnginePropertyFilePaths:
              description: ""
              items:
                type: string
              type: array
            kubernetesContainerNames:
              description: ""
              items:
                type: string
              type: array
            ruleResult:
              description: ""
              items:
                type: string
              type: array
            rubyAppRootPaths:
              description: ""
              items:
                type: string
              type: array
            jbossModes:
              description: ""
              items:
                type: string
              type: array
            awsLambdaFunctionNames:
              description: ""
              items:
                type: string
              type: array
            cloudFoundryInstanceIndexes:
              description: ""
              items:
                type: string
              type: array
            hybrisBinDirectories:
              description: ""
              items:
                type: string
              type: array
            weblogicHomeValues:
              description: ""
              items:
                type: string
              type: array
            jbossHomes:
              description: ""
              items:
                type: string
              type: array
            dynatraceClusterIds:
              description: ""
              items:
                type: string
              type: array
            googleAppEngineInstances:
              description: ""
              items:
                type: string
              type: array
            commandLineArgs:
              description: ""
              items:
                type: string
              type: array
            aspDotNetCoreApplicationPaths:
              description: ""
              items:
                type: string
              type: array
            awsEcrImageAccountIds:
              description: ""
              items:
                type: string
              type: array
            websphereClusterNames:
              description: ""
              items:
                type: string
              type: array
            kubernetesAnnotations:
              additionalProperties:
                type: string
              description: ""
              type: object
            websphereServerNames:
              description: ""
              items:
                type: string
              type: array
            catalinaHomeValues:
              description: ""
              items:
                type: string
              type: array
            glassfishDomainNames:
              description: ""
              items:
                type: string
              type: array
            kubernetesBasePodNames:
              description: ""
              items:
                type: string
              type: array
            weblogicClusterNames:
              description: ""
              items:
                type: string
              type: array
            websphereNodeNames:
              description: ""
              items:
                type: string
              type: array
            iisAppPools:
              description: ""
              items:
                type: string
              type: array
            javaMainModules:
              description: ""
              items:
                type: string
              type: array
            kubernetesPodUids:
              description: ""
              items:
                type: string
              type: array
            dockerContainerImageNames:
              description: ""
              items:
                type: string
              type: array
            coldfusionJvmConfigFiles:
              description: ""
              items:
                type: string
              type: array
            serviceNames:
              description: ""
              items:
                type: string
              type: array
            dotnetCommandPath:
              description: ""
              items:
                type: string
              type: array
            ibmIntegrationBusExecutionGroupNames:
              description: ""
              items:
                type: string
              type: array
            websphereCellNames:
              description: ""
              items:
                type: string
              type: array
            elasticSearchClusterNames:
              description: ""
              items:
                type: string
              type: array
            nodejsAppNames:
              description: ""
              items:
                type: string
              type: array
            nodejsScriptNames:
              description: ""
              items:
                type: string
              type: array
            iisRoleNames:
              description: ""
              items:
                type: string
              type: array
            apacheSparkMasterIpAddresses:
              description: ""
              items:
                type: string
              type: array
            weblogicNames:
              description: ""
              items:
                type: string
              type: array
            rubyScriptPaths:
              description: ""
              items:
                type: string
              type: array
            awsRegions:
              description: ""
              items:
                type: string
              type: array
          type: object
        azureSiteName:
          description: ""
          items:
            type: string
          type: array
        versionedModules:
          description: ""
          items:
            $ref: '#/components/schemas/ProcessGroupInstanceModule'
          type: array
        agentVersions:
          description: Defines the versions of the agents currently running on the entity.
          items:
            $ref: '#/components/schemas/AgentVersion'
          type: array
        softwareTechnologies:
          description: ""
          items:
            $ref: '#/components/schemas/TechnologyInfo'
          type: array
        monitoringState:
          $ref: '#/components/schemas/MonitoringState'
      type: object
    ProblemComment:
      description: A comment of a problem
      example:
        comment: This is a comment!
        user: user1
        context: Slack
      properties:
        comment:
          description: The comment to the problem.
          type: string
        user:
          description: The author of the comment.
          type: string
        context:
          description: The context of the comment. It can contain any additional information.
          type: string
      required:
      - comment
      - user
      type: object
    UserSession:
      description: The user session encompasses multiple user actions, with some additional information that allows you to group and categorize user sessions.
      properties:
        tenantId:
          description: Identifies the Dynatrace tenant that captured this user session.
          example: azy123456
          type: string
        userSessionId:
          description: A unique, generated ID that identifies this user session.
          type: string
        startTime:
          description: The time when the first user action in this user session recorded, in milliseconds since the epoch.
          example: 1511363122754
          format: int64
          type: integer
        endTime:
          description: The time when the last user action in this user session recorded, in milliseconds since the epoch.
          example: 1511363122754
          format: int64
          type: integer
        duration:
          description: The amount of time from the start of the first user action to the end of the last user action, in milliseconds.
          example: 122300
          format: int64
          type: integer
        internalUserId:
          description: A generated, unique ID of the user triggering this user session.
          type: string
        userType:
          description: Indicates if this user session is generated by an automated process (ROBOT, SYNTHETIC) or by a human (REAL_USER).
          enum:
          - REAL_USER
          - ROBOT
          - SYNTHETIC
          type: string
        applicationType:
          description: Indicates the type of application used for this user session.
          enum:
          - WEB_APPLICATION
          - MOBILE_APPLICATION
          - AMP_APPLICATION
          - CUSTOM_APPLICATION
          type: string
        bounce:
          description: Indicates if a bounce is detected, which means there is only one user action in this user session.
          type: boolean
        newUser:
          description: Indicates whether activity from this user has been seen before.
          type: boolean
        userActionCount:
          description: The number of user actions in this user session.
          format: int32
          type: integer
        totalErrorCount:
          description: The number of errors detected in this user session.
          format: int32
          type: integer
        matchingConversionGoals:
          description: 'Lists the user session-based conversion goals that match this
            user session. Note: You can also record conversion goals for user actions.'
          items:
            type: string
          type: array
        ip:
          description: The IP address (IPv4 or IPv6) from where this user session originated.
          type: string
        continent:
          description: The continent from which this user session originated (based on IP address).
          type: string
        country:
          description: The country from which this user session originated (based on IP address).
          type: string
        region:
          description: The region from which this user session originated (based on IP address).
          type: string
        city:
          description: The city from which this user session originated (based on IP address).
          type: string
        browserType:
          description: The browser type used for this user session.
          example: Mobile Browser, Desktop Browser
          type: string
        browserFamily:
          description: The browser family used for this user session.
          example: Firefox, Chrome, IE
          type: string
        browserMajorVersion:
          description: The version of the browser used for this user session.
          example: Firefox 57, Chrome 60
          type: string
        osFamily:
          description: The type of operating system used for this user session.
          example: Windows, Linux
          type: string
        osVersion:
          description: The version of the operating system used for this user session.
          example: iOS 9, Windows 10
          type: string
        manufacturer:
          description: The detected manufacturer of the device used for this user session.
          example: Samsung, Apple
          type: string
        device:
          description: The detected device used for this user session.
          example: Samsung S5, Apple iPhone X
          type: string
        userId:
          description: The user ID provided for this user session by session tagging.
          example: user@example.org
          type: string
        screenHeight:
          description: The detected screen height of the device used for this user session.
          example: 768
          format: int32
          type: integer
        screenWidth:
          description: The detected screen width of the device used for this user session.
          example: 1024
          format: int32
          type: integer
        screenOrientation:
          description: Indicates the type of screen orientation used on the device for this user session.
          enum:
          - UNDEFINED
          - LANDSCAPE
          - PORTRAIT
          example: LANDSCAPE
          type: string
        displayResolution:
          description: The detected screen resolution of the device used for this user session.
          enum:
          - CGA
          - QVGA
          - VGA
          - NTSC
          - PAL
          - SVGA
          - FWVGA
          - XGA
          - WXGA
          - WXGA2
          - WXGA3
          - HD
          - _1280x854
          - SXGAMinus
          - SXGA
          - SXGAPlus
          - WSXGA
          - UXGA
          - WSXGAPlus
          - FHD
          - WUXGA
          - QXGA
          - WQXGA
          - WQXGA2
          - QSXGA
          - UHD4K
          - UHD8K
          - UHD16K
          - FWXGA
          - WXGAPlus
          - UGA
[...]
