openapi: 3.0.1
info:
  title: Dynatrace Configuration API
  version: "1.0"
servers:
- url: https://siz65484.live.dynatrace.com/api/config/v1
tags:
- description: Manage application detection rules.
  name: ApplicationDetectionConfig
- description: Manage web applications.
  name: WebApplicationConfig
- description: Manage request attributes.
  name: RequestAttributes
- description: Manage global data privacy settings.
  name: DataPrivacy
- description: Manage anomaly detection configuration for hosts.
  name: Anomaly Detection - Hosts
- description: Manage anomaly detection configuration for services.
  name: Anomaly Detection - Services
- description: Manage anomaly detection configuration for disk events.
  name: Anomaly Detection - Disk Events
- description: Manage anomaly detection configuration for AWS.
  name: Anomaly Detection - AWS
- description: Manage anomaly detection configuration for VMware.
  name: Anomaly Detection - VMware
- description: Manage custom services.
  name: CustomServices
- description: Manage automatically applied tags.
  name: Automatically applied tags
- description: Manage management zones.
  name: Management Zones
paths:
  /anomalyDetection/aws/validator:
    post:
      operationId: validateAwsAnomalyDetectionConfig_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AwsAnomalyDetectionConfig'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validate configuration of anomaly detection for AWS (for PUT request).
      tags:
      - Anomaly Detection - AWS
      x-early-access: "true"
  /anomalyDetection/aws:
    get:
      operationId: getAwsAnomalyDetectionConfig_1
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AwsAnomalyDetectionConfig'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Get configuration of anomaly detection for AWS.
      tags:
      - Anomaly Detection - AWS
      x-early-access: "true"
    put:
      operationId: updateAwsAnomalyDetectionConfig_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AwsAnomalyDetectionConfig'
        required: false
      responses:
        204:
          content: {}
          description: Success. Configuration has been updated. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Update configuration of anomaly detection for AWS.
      tags:
      - Anomaly Detection - AWS
      x-early-access: "true"
  /anomalyDetection/diskEvents:
    get:
      operationId: listDiskEventConfigs_1
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DiskEventAnomalyDetectionConfigList'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Get the list of disk event rules.
      tags:
      - Anomaly Detection - Disk Events
      x-early-access: "true"
    post:
      operationId: createDiskEventConfig_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DiskEventAnomalyDetectionConfig'
        required: false
      responses:
        201:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DiskEventAnomalyDetectionConfigStub'
          description: If the creation is successful, the id of the new disk event rule is returned.
        400:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Create a new disk event rule.
      tags:
      - Anomaly Detection - Disk Events
      x-early-access: "true"
  /anomalyDetection/diskEvents/{id}:
    delete:
      operationId: deleteDiskEventConfig_1
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        204:
          content: {}
          description: Success. Configuration has been deleted. Response doesn't have a body.
      security:
      - WriteConfigToken: []
      summary: Delete the disk alert rule with the given id.
      tags:
      - Anomaly Detection - Disk Events
      x-early-access: "true"
    get:
      operationId: getDiskEventConfig_1
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DiskEventAnomalyDetectionConfig'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Get the disk event rule with the given id.
      tags:
      - Anomaly Detection - Disk Events
      x-early-access: "true"
    put:
      operationId: updateOrCreateDiskEventConfig_1
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DiskEventAnomalyDetectionConfig'
        required: false
      responses:
        201:
          content: {}
          description: Success. The configuration has been created as it didn't exist before. Response doesn't have a body.
        204:
          content: {}
          description: Success. Configuration has been updated. Response doesn't have a body.
        400:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
        403:
          content: {}
          description: Failed. The given id is reserved for internal use.
      security:
      - WriteConfigToken: []
      summary: Update the disk event rule with the given id or create it if it doesn't exist yet.
      tags:
      - Anomaly Detection - Disk Events
      x-early-access: "true"
  /anomalyDetection/diskEvents/validator:
    post:
      operationId: validateDiskEventConfig_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DiskEventAnomalyDetectionConfig'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validate configuration of disk event rule.
      tags:
      - Anomaly Detection - Disk Events
      x-early-access: "true"
  /anomalyDetection/hosts:
    get:
      operationId: getHostEventsConfig_1
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/HostsAnomalyDetectionConfig'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Get configuration of anomaly detection for hosts.
      tags:
      - Anomaly Detection - Hosts
      x-early-access: "true"
    put:
      operationId: updateHostEventsConfig_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/HostsAnomalyDetectionConfig'
        required: false
      responses:
        204:
          content: {}
          description: Success. Configuration has been updated. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Update configuration of anomaly detection for hosts.
      tags:
      - Anomaly Detection - Hosts
      x-early-access: "true"
  /anomalyDetection/hosts/validator:
    post:
      operationId: validateHostEventsConfig_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/HostsAnomalyDetectionConfig'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validate configuration of anomaly detection for hosts (for PUT request).
      tags:
      - Anomaly Detection - Hosts
      x-early-access: "true"
  /anomalyDetection/services:
    get:
      operationId: getConfiguration_1
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ServiceAnomalyDetectionConfig'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Gets the service anomaly detection configuration
      tags:
      - Anomaly Detection - Services
      x-early-access: "true"
    put:
      operationId: updateConfiguration_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ServiceAnomalyDetectionConfig'
        required: false
      responses:
        204:
          content: {}
          description: Success. Configuration has been updated. Response doesn't have a body.
        400:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: If input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates the service anomaly detection configuration
      tags:
      - Anomaly Detection - Services
      x-early-access: "true"
  /anomalyDetection/services/validator:
    post:
      operationId: validateConfiguration_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ServiceAnomalyDetectionConfig'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates the service anomaly detection configuration
      tags:
      - Anomaly Detection - Services
      x-early-access: "true"
  /anomalyDetection/vmware:
    get:
      operationId: getVMwareAnomalyDetectionConfig_1
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/VMwareAnomalyDetectionConfig'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Get configuration of anomaly detection for VMware.
      tags:
      - Anomaly Detection - VMware
      x-early-access: "true"
    put:
      operationId: updateVMwareAnomalyDetectionConfig_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/VMwareAnomalyDetectionConfig'
        required: false
      responses:
        204:
          content: {}
          description: Success. Configuration has been updated. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Update configuration of anomaly detection for VMware.
      tags:
      - Anomaly Detection - VMware
      x-early-access: "true"
  /anomalyDetection/vmware/validator:
    post:
      operationId: validateVMwareAnomalyDetectionConfig_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/VMwareAnomalyDetectionConfig'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validate configuration of anomaly detection for VMware (for PUT request).
      tags:
      - Anomaly Detection - VMware
      x-early-access: "true"
  /applications/web/{id}:
    delete:
      operationId: deleteConfiguration_1
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: If the delete is successful, nothing is returned.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: If input is invalid.
      security:
      - WriteConfigToken: []
      summary: Delete the web application configuration with the given id.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
    get:
      operationId: getConfiguration_2
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/WebApplicationConfig'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Get the web application configuration with the given id.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
    put:
      operationId: createOrUpdateConfiguration_1
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/WebApplicationConfig'
        required: false
      responses:
        201:
          content: {}
          description: Success. The web application configuration with the given id didn't exist, it has been created. Response doesn't have a body.
        204:
          content: {}
          description: Success. Configuration has been updated. Response doesn't have a body.
        400:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Store the configured web application configuration. If the payload has the id property set, it must match the id in the URL.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
  /applications/web/validator/{id}:
    post:
      operationId: validateConfiguration_3
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/WebApplicationConfig'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates new web application configuration for the `PUT /{id}` request.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
  /applications/web/validator:
    post:
      operationId: validateConfiguration_2
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/WebApplicationConfig'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates new web application configuration for the `POST /` request.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
  /applications/web/default:
    get:
      operationId: getDefaultApplication_1
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/WebApplicationConfig'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Get the default web application configuration.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
    put:
      operationId: createOrUpdateDefaultConfiguration_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/WebApplicationConfig'
        required: false
      responses:
        204:
          content: {}
          description: If the update is successful, nothing is returned.
        400:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: If input is invalid.
      security:
      - WriteConfigToken: []
      summary: Update the default web application configuration.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
  /applications/web/default/dataPrivacy:
    get:
      operationId: getDefaultApplicationDataPrivacySettings_1
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationDataPrivacy'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Get the default web application's data privacy settings.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
    put:
      operationId: updateDefaultApplicationDataPrivacySettings_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDataPrivacy'
        required: false
      responses:
        204:
          content: {}
          description: If the update is successful, nothing is returned.
        400:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: If input is invalid.
      security:
      - WriteConfigToken: []
      summary: Update the default web application's data privacy settings.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
  /applications/web/{id}/dataPrivacy/validator:
    post:
      operationId: validateDataPrivacySettings_1
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDataPrivacy'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates new data privacy settings for the `PUT /{id}/dataPrivacy` request.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
  /applications/web/default/validator:
    post:
      operationId: validateDefaultConfiguration_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/WebApplicationConfig'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates new default web application configuration for the `PUT /default` request.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
  /applications/web:
    get:
      operationId: listConfigurations_1
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/WebApplicationConfigStubListDto'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: List all application configurations.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
    post:
      operationId: createConfiguration_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/WebApplicationConfig'
        required: false
      responses:
        201:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/WebApplicationConfigStub'
          description: If the creation is successful, the id of the new custom application configuration is returned.
        400:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: If input is invalid.
      security:
      - WriteConfigToken: []
      summary: Create a new web application configuration. The payload must not provide an id as that will be automatically assigned.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
  /applications/web/dataPrivacy:
    get:
      operationId: listDataPrivacySettings_1
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationDataPrivacyListDto'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: List all applications' data privacy settings.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
  /applications/web/{id}/dataPrivacy:
    get:
      operationId: getDataPrivacySettings_1
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationDataPrivacy'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Get the web application's data privacy settings.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
    put:
      operationId: updateDataPrivacySettings_1
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDataPrivacy'
        required: false
      responses:
        204:
          content: {}
          description: If the update is successful, nothing is returned.
        400:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: If input is invalid.
      security:
      - WriteConfigToken: []
      summary: Update the web application's data privacy settings.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
  /applications/web/default/dataPrivacy/validator:
    post:
      operationId: validateDefaultApplicationDataPrivacySettings_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDataPrivacy'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates new data privacy settings for the `PUT /default/dataPrivacy` request.
      tags:
      - WebApplicationConfig
      x-early-access: "true"
  /applicationDetection:
    get:
      operationId: getConfiguration
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationDetectionConfig'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Lists all available application detection rules.
      tags:
      - ApplicationDetectionConfig
      x-early-access: "true"
    put:
      description: "All the application detection rules are stored in a single configuration.\
        \ When you want to edit a rule or create a new one, you have to put **all**\
        \ existing rules in the request body, otherwise you'll lose them. Execute\
        \ the `GET /applicationDetection` request to view the list of existing rules.\
        \ Then modify an existing rule or add a new one, and keep the rest of the\
        \ rules as they are.\n\n The order of rules is important. Dynatrace evaluates\
        \ rules from top to bottom. To add a new rule to the configuration, execute\
        \ the `GET /applicationDetection` request, and place the new rule in the required\
        \ position among the existing rules. \n\n Validate the configuration with\
        \ the `POST /validator` request before submitting it."
      operationId: updateConfiguration
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDetectionConfig'
        required: false
      responses:
        204:
          content: {}
          description: Success. Application detection rule is updated. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates an application detection configuration.
      tags:
      - ApplicationDetectionConfig
      x-early-access: "true"
  /applicationDetection/validator:
    post:
      operationId: validateConfiguration
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ApplicationDetectionConfig'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted rule is valid. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The submitted rule is invalid. See response body for details.
      security:
      - WriteConfigToken: []
      summary: Validates the application detection configuration for the `PUT /applicationDetection` request.
      tags:
      - ApplicationDetectionConfig
      x-early-access: "true"
  /autoTags:
    get:
      operationId: getAllAutoTagConfigs_1
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AutoTagStubList'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Lists all configured auto tags.
      tags:
      - Automatically applied tags
      x-early-access: "true"
    post:
      description: The body must not provide an ID as IDs are automatically assigned.
      operationId: createAutoTag_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AutoTag'
        required: false
      responses:
        201:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AutoTagStub'
          description: Success. The auto tag has been created. The ID of the new configuration is returned.
        400:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Creates a new auto tag.
      tags:
      - Automatically applied tags
      x-early-access: "true"
  /autoTags/{id}:
    delete:
      operationId: deleteAutoTag_1
      parameters:
      - description: The ID of the auto tag to be deleted.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        204:
          content: {}
          description: Deleted. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Deletes the specified auto tag.
      tags:
      - Automatically applied tags
      x-early-access: "true"
    get:
      operationId: getSingleAutoTagConfig_1
      parameters:
      - description: The ID of the required auto tag.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: "Flag to include process group references to the response. \n\
          \n Process group references aren't compatible across environments. When\
          \ this flag is set to false, conditions with process group references will\
          \ be removed. If that leads to a rule having no conditions, the entire rule\
          \ will be removed."
        in: query
        name: includeProcessGroupReferences
        schema:
          default: false
          type: boolean
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AutoTag'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Shows the config properties of the specified auto tag.
      tags:
      - Automatically applied tags
      x-early-access: "true"
    put:
      operationId: createOrUpdateAutoTag_1
      parameters:
      - description: |-
          The ID of the auto tag to be updated.

           If you set the ID in the body as well, it must match this ID.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AutoTag'
        required: false
      responses:
        201:
          content: {}
          description: Success. The auto tag with the specified ID has been created. Response doesn't have a body.
        204:
          content: {}
          description: Success. The auto tag has been updated. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates an existing auto tag.
      tags:
      - Automatically applied tags
      x-early-access: "true"
  /autoTags/validator/{id}:
    post:
      operationId: validateAutoTag_1
      parameters:
      - description: The ID of the auto tag to be validated.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AutoTag'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validate updates of existing auto tags for the `PUT /autoTags/{id}` request.
      tags:
      - Automatically applied tags
      x-early-access: "true"
  /autoTags/validator:
    post:
      operationId: validateAutoTag_2
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/AutoTag'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates new auto tags for the `POST /autoTags` request.
      tags:
      - Automatically applied tags
      x-early-access: "true"
  /customServices/{technology}/{id}:
    delete:
      operationId: delete
      parameters:
      - description: Technology of the custom service to delete.
        in: path
        name: technology
        required: true
        schema:
          enum:
          - java
          - dotNet
          - php
          type: string
      - description: The ID of the custom service to delete.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        204:
          content: {}
          description: Deleted. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Deletes the specified custom service
      tags:
      - CustomServices
      x-early-access: "true"
    get:
      operationId: getItem
      parameters:
      - description: Technology of the custom service you're inquiring.
        in: path
        name: technology
        required: true
        schema:
          enum:
          - java
          - dotNet
          - php
          type: string
      - description: The ID of the custom service you're inquiring.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: "Flag to include process group references to the response. \n\
          \n Process group references aren't compatible across environments. \n\n\
          `false` is used if the value is not set."
        in: query
        name: includeProcessGroupReferences
        schema:
          default: false
          type: boolean
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CustomService'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Gets the definition of the specified custom service
      tags:
      - CustomServices
      x-early-access: "true"
    put:
      operationId: putItem
      parameters:
      - description: Technology of the custom service to update.
        in: path
        name: technology
        required: true
        schema:
          enum:
          - java
          - dotNet
          - php
          type: string
      - description: |-
          The ID of the custom service to update.

           The ID of the custom service in the body of the request must match this ID.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CustomService'
        description: JSON body of the request containing updated definition of the custom service.
        required: false
      responses:
        201:
          content: {}
          description: Success. Custom service has been created. Response doesn't have a body.
        204:
          content: {}
          description: Success. Custom service has been updated. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates the specified custom service.
      tags:
      - CustomServices
      x-early-access: "true"
  /customServices/{technology}:
    get:
      operationId: getList
      parameters:
      - description: Technology of the required custom services.
        in: path
        name: technology
        required: true
        schema:
          enum:
          - java
          - dotNet
          - php
          type: string
      - description: "Flag to include process group references to the response. \n\
          \n Process group references aren't compatible across environments. \n\n\
          `false` is used if the value is not set."
        in: query
        name: includeProcessGroupReferences
        schema:
          default: false
          type: boolean
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CustomServiceList'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Lists all custom services of the specified technology along with their definitions
      tags:
      - CustomServices
      x-early-access: "true"
    post:
      description: In the body of the request, neither custom service nor its rules can have the ID. All IDs will be generated automatically by Dynatrace.
      operationId: post
      parameters:
      - description: Technology of the new custom service.
        in: path
        name: technology
        required: true
        schema:
          enum:
          - java
          - dotNet
          - php
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CustomService'
        description: "JSON body of the request containing definition of the new custom\
          \ service. \n\nYou must not specify the IDs for the custom service or any\
          \ of its rules."
        required: false
      responses:
        201:
          content: {}
          description: Success. The custom service has been created. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Creates a custom service
      tags:
      - CustomServices
      x-early-access: "true"
    put:
      description: This request affects **all** the custom services of the specified technology. If a custom service is not presented in the body of the request, it will be deleted.
      operationId: putList
      parameters:
      - description: Technology of custom services to update.
        in: path
        name: technology
        required: true
        schema:
          enum:
          - java
          - dotNet
          - php
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CustomServiceList'
        description: JSON body of the request containing updated definitions of custom services.
        required: false
      responses:
        204:
          content: {}
          description: Success. Custom services have been updated. Response doesn't have a body.
        400:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates all custom services of the specified technology
      tags:
      - CustomServices
      x-early-access: "true"
  /customServices/{technology}/validator:
    post:
      operationId: validateItem
      parameters:
      - description: Technology of the custom service to validate.
        in: path
        name: technology
        required: true
        schema:
          enum:
          - java
          - dotNet
          - php
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CustomService'
        description: JSON body of the request containing definition of the custom service to validate.
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validate the new custom service for the `POST /customServices/{technology}` request
      tags:
      - CustomServices
      x-early-access: "true"
    put:
      operationId: validateList
      parameters:
      - description: Technology of the custom services to validate.
        in: path
        name: technology
        required: true
        schema:
          enum:
          - java
          - dotNet
          - php
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CustomServiceList'
        description: "JSON body of the request containing definitions of the custom\
          \ services to validate. \n\nIt must contain definitions of **all** custom\
          \ services of the required technology."
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates custom services for the `PUT /customServices/` request.
      tags:
      - CustomServices
      x-early-access: "true"
  /dataPrivacy/validator:
    post:
      operationId: validateConfiguration_4
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DataPrivacy'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid. See the response body for details.
      security:
      - WriteConfigToken: []
      summary: Validates new data privacy settings for the `PUT /dataPrivacy` request.
      tags:
      - DataPrivacy
      x-early-access: "true"
  /dataPrivacy:
    get:
      operationId: getDataPrivacySettings_2
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DataPrivacy'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Lists the global data privacy settings.
      tags:
      - DataPrivacy
      x-early-access: "true"
    put:
      description: This request updates global settings, affecting all your applications. To update application-specific data privacy settings, use the `PUT /applications/web/{id}/dataPrivacy` request.
      operationId: updateDataPrivacySettings_2
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/DataPrivacy'
        required: false
      responses:
        204:
          content: {}
          description: Success. The configuration is updated. Response does not have a body.
        400:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid. See the response body for details.
      security:
      - WriteConfigToken: []
      summary: Updates the global data privacy settings.
      tags:
      - DataPrivacy
      x-early-access: "true"
  /managementZones/{id}:
    delete:
      operationId: deleteManagementZone_1
      parameters:
      - description: The ID of the management zone to be deleted.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: Deleted. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Deletes the specified management zone.
      tags:
      - Management Zones
      x-early-access: "true"
    get:
      operationId: getSingleManagementZoneConfig_1
      parameters:
      - description: The ID of the required management zone.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Flag to include process group references to the response. \n\
          \n Process group references aren't compatible across environments. When\
          \ this flag is set to false, conditions with process group references will\
          \ be removed. If that leads to a rule having no conditions, the entire rule\
          \ will be removed."
        in: query
        name: includeProcessGroupReferences
        schema:
          default: false
          type: boolean
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ManagementZone'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Shows the config properties of the specified management zone.
      tags:
      - Management Zones
      x-early-access: "true"
    put:
      operationId: createOrUpdateManagementZone_1
      parameters:
      - description: |-
          The ID of the management zone to be updated.

           If you set the ID in the body as well, it must match this ID.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ManagementZone'
        required: false
      responses:
        201:
          content: {}
          description: Success. The management zone with the specified ID has been created. Response doesn't have a body.
        204:
          content: {}
          description: Success. The management zone has been updated. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Updates an existing management zone.
      tags:
      - Management Zones
      x-early-access: "true"
  /managementZones/validator:
    post:
      operationId: validateManagementZone_2
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ManagementZone'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validates new management zone for the `POST /managementZones` request.
      tags:
      - Management Zones
      x-early-access: "true"
  /managementZones/validator/{id}:
    post:
      operationId: validateManagementZone_1
      parameters:
      - description: The ID of the management zone to be validated.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ManagementZone'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Validate updates of existing management zone for the `PUT /managementZones/{id}` request.
      tags:
      - Management Zones
      x-early-access: "true"
  /managementZones:
    get:
      operationId: getAllManagementZoneConfigs_1
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ManagementZoneStubList'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Lists all configured management zones.
      tags:
      - Management Zones
      x-early-access: "true"
    post:
      description: The body must not provide an ID as IDs are automatically assigned.
      operationId: createManagementZone_1
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/ManagementZone'
        required: false
      responses:
        201:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ManagementZoneStub'
          description: Success. The management zone has been created. The ID of the new configuration is returned.
        400:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - WriteConfigToken: []
      summary: Creates a new management zone.
      tags:
      - Management Zones
      x-early-access: "true"
  /requestAttributes/{id}:
    delete:
      operationId: deleteConfiguration_2
      parameters:
      - description: The ID of the request attribute to be deleted.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        204:
          content: {}
          description: Deleted. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - CaptureRequestDataToken: []
      summary: Deletes the specified request attribute.
      tags:
      - RequestAttributes
      x-early-access: "true"
    get:
      operationId: getConfiguration_3
      parameters:
      - description: The ID of the required request attribute.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: "Flag to include process group references to the response. \n\
          \n Process Group group references aren't compatible across environments."
        in: query
        name: includeProcessGroupReferences
        schema:
          default: false
          type: boolean
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RequestAttribute'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Shows the properties of the specified request attribute.
      tags:
      - RequestAttributes
      x-early-access: "true"
    put:
      operationId: createOrUpdateConfiguration_2
      parameters:
      - description: |-
          The ID of the request attribute to be updated.

           If you set the ID in the body as well, it must match this ID.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/RequestAttribute'
        required: false
      responses:
        201:
          content: {}
          description: Success. The request attribute with the specified ID has been created. Response doesn't have a body.
        204:
          content: {}
          description: Success. Request attribute has been updated. Response doesn't have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - CaptureRequestDataToken: []
      summary: Updates an existing request attribute.
      tags:
      - RequestAttributes
      x-early-access: "true"
  /requestAttributes/validator:
    post:
      operationId: validateConfiguration_5
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/RequestAttribute'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - CaptureRequestDataToken: []
      summary: Validates new request attributes for the `POST /requestAttributes` request.
      tags:
      - RequestAttributes
      x-early-access: "true"
  /requestAttributes/validator/{id}:
    post:
      operationId: validateConfiguration_6
      parameters:
      - description: The ID of the request attribute to be validated.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/RequestAttribute'
        required: false
      responses:
        204:
          content: {}
          description: Validated. The submitted configuration is valid. Response does not have a body.
        400:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - CaptureRequestDataToken: []
      summary: Validate updates of existing request attribute for the `PUT /requestAttributes/{id}` request.
      tags:
      - RequestAttributes
      x-early-access: "true"
  /requestAttributes:
    get:
      operationId: listConfigurations_2
      responses:
        200:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RequestAttributeStubListDto'
          description: successful operation
      security:
      - ReadConfigToken: []
      summary: Lists all available request attributes.
      tags:
      - RequestAttributes
      x-early-access: "true"
    post:
      description: The body must not provide an ID as IDs are automatically assigned.
      operationId: createConfiguration_2
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/RequestAttribute'
        required: false
      responses:
        201:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RequestAttributeStub'
          description: Success. Request attribute has been created. The ID of the new configuration is returned.
        400:
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: Failed. The input is invalid.
      security:
      - CaptureRequestDataToken: []
      summary: Creates a new request attribute.
      tags:
      - RequestAttributes
      x-early-access: "true"
components:
  schemas:
    Enum:
      type: object
    HighMemoryThresholds:
      description: Custom thresholds for high memory use detection. If not present (null) then default thresholds will be used.
      example:
        pageFaultsPerSecondWindows: 6027
        usedMemoryPercentageNonWindows: 56
        pageFaultsPerSecondNonWindows: 5962
        usedMemoryPercentageWindows: 15
      properties:
        pageFaultsPerSecondWindows:
          description: Detect high memory usage only when memory page fault rate is higher than N faults/second (Windows systems).
          format: int32
          maximum: 1E+4
          minimum: 1
          type: integer
        usedMemoryPercentageWindows:
          description: Detect high memory usage only when memory usage is higher than N percent (Windows systems).
          format: int32
          maximum: 1E+2
          minimum: 1
          type: integer
        pageFaultsPerSecondNonWindows:
          description: Detect high memory usage only when memory page fault rate is higher than N faults/second (Non-Windows systems).
          format: int32
          maximum: 1E+4
          minimum: 1
          type: integer
        usedMemoryPercentageNonWindows:
          description: Detect high memory usage only when memory usage is higher than N percent (Non-Windows systems).
          format: int32
          maximum: 1E+2
          minimum: 1
          type: integer
      required:
      - pageFaultsPerSecondNonWindows
      - pageFaultsPerSecondWindows
      - usedMemoryPercentageNonWindows
      - usedMemoryPercentageWindows
      type: object
    DroppedPacketsDetectionConfig:
      description: Configuration of high number of dropped packets detection
      example:
        customThresholds:
          droppedPacketsPerSecond: 21
        enabled: true
      properties:
        enabled:
          description: Is detection enabled.
          type: boolean
        customThresholds:
          $ref: '#/components/schemas/DroppedPacketsThresholds'
      required:
      - enabled
      type: object
    WebApplicationConfigStubListDto:
      example:
        metadata:
          configurationVersions:
          - 0
          - 0
          clusterVersion: clusterVersion
        values:
        - identifier: identifier
          name: name
        - identifier: identifier
          name: name
      properties:
        metadata:
          $ref: '#/components/schemas/ConfigurationMetadata'
        values:
          items:
            $ref: '#/components/schemas/WebApplicationConfigStub'
          type: array
      type: object
    AdvancedJavaScriptTagSettings:
      description: Advanced JavaScript tag settings.
      example:
        specialCharactersToEscape: specialCharactersToEscape
        syncBeaconFirefox: true
        additionalEventHandlers:
          mouseupEventHandler: true
          blurEventHandler: true
          changeEventHandler: true
          toStringMethod: true
          userMouseupEventForClicks: true
          clickEventHandler: true
          maxDomNodesToInstrument: 12315
        maxErrorsToCapture: 36
        globalEventCaptureSettings:
          additionalEventCapturedAsUserInput: additionalEventCapturedAsUserInput
          doubleClick: true
          mouseUp: true
          scroll: true
          keyUp: true
          mouseDown: true
          keyDown: true
          click: true
        syncBeaconInternetExplorer: true
        eventWrapperSettings:
          touchStart: true
          mouseUp: true
          change: true
          blur: true
          touchEnd: true
          click: true
        instrumentUnsupportedAjaxFrameworks: true
        maxActionNameLength: 4148
      properties:
        syncBeaconFirefox:
          description: Send the beacon signal as a synchronous XMLHttpRequest using Firefox enabled/disabled.
          type: boolean
        syncBeaconInternetExplorer:
          description: Send the beacon signal as a synchronous XMLHttpRequest using Internet Explorer enabled/disabled.
          type: boolean
        instrumentUnsupportedAjaxFrameworks:
          description: Instrumentation of unsupported Ajax frameworks enabled/disabled.
          type: boolean
        specialCharactersToEscape:
          description: Additional special characters that are to be escaped using non-alphanumeric characters in HTML escape format.
          maxLength: 30
          minLength: 0
          pattern: '[^"<>]*'
          type: string
        maxActionNameLength:
          description: Maximum character length for action names. Valid values range from 5 to 10000.
          format: int32
          maximum: 1E+4
          minimum: 5
          type: integer
        maxErrorsToCapture:
          description: Maximum number of errors to be captured per page. Valid values range from 0 to 50.
          format: int32
          maximum: 5E+1
          minimum: 0
          type: integer
        additionalEventHandlers:
          $ref: '#/components/schemas/AdditionalEventHandlers'
        eventWrapperSettings:
          $ref: '#/components/schemas/EventWrapperSettings'
        globalEventCaptureSettings:
          $ref: '#/components/schemas/GlobalEventCaptureSettings'
      required:
      - additionalEventHandlers
      - eventWrapperSettings
      - globalEventCaptureSettings
      - instrumentUnsupportedAjaxFrameworks
      - maxActionNameLength
      - maxErrorsToCapture
      - specialCharactersToEscape
      - syncBeaconFirefox
      - syncBeaconInternetExplorer
      type: object
    EntityRuleEngineIntegerComparisonInfo:
      allOf:
      - $ref: '#/components/schemas/EntityRuleEngineComparisonInfo'
      - description: Type-specific comparison information for attributes with the value format 'INTEGER'. This model also inherits fields from the parent model EntityRuleEngineComparisonInfo.
        properties:
          operator:
            description: Operator comparing the extracted value to the comparison value.
            enum:
            - EQUALS
            - EXISTS
            - GREATER_THAN
            - LOWER_THAN
            - GREATER_THAN_OR_EQUAL
            - LOWER_THAN_OR_EQUAL
            type: string
          value:
            description: Holds the actual value which should be used for comparison. Other parameters of this condition define how this value should be compared to actually stored values.
            format: int32
            type: integer
        required:
        - operator
        type: object
    DetectionRule:
      example:
        fileName: fileName
        annotations:
        - annotations
        - annotations
        className: className
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        matcher: EQUALS
        enabled: true
        methodRules:
        - methodName: methodName
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          argumentTypes:
          - argumentTypes
          - argumentTypes
          returnType: returnType
        - methodName: methodName
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          argumentTypes:
          - argumentTypes
          - argumentTypes
          returnType: returnType
      properties:
        id:
          description: The ID of the detection rule.
          format: uuid
          type: string
        enabled:
          description: Rule enabled/disabled.
          type: boolean
        fileName:
          description: "The PHP file containing the class or methods to instrument.\
            \ \n\nRequired for PHP custom service. \n\n Not applicable to Java and\
            \ .NET."
          type: string
        className:
          description: "The fully qualified class or interface to instrument. \n\n\
            Required for Java and .NET custom services. \n\n Not applicable to PHP."
          type: string
        matcher:
          description: Matcher applying to the class name. `STARTS_WITH` can only be used if there is at least one annotation defined. Default value is `EQUALS`.
          enum:
          - EQUALS
          - STARTS_WITH
          type: string
        methodRules:
          description: List of methods to instrument.
          items:
            $ref: '#/components/schemas/MethodRule'
          maxItems: 2147483647
          minItems: 1
          type: array
        annotations:
          description: "Additional annotations filter of the rule. \n\nOnly classes\
            \ where all listed annotations are available in the class itself or any\
            \ of its superclasses are instrumented. \n\nNot applicable to PHP."
          items:
            type: string
          type: array
      required:
      - enabled
      - methodRules
      type: object
    ElbHighConnectionErrorsThresholds:
      description: Custom thresholds for high number of backend connection errors detection on ELB. If not present (null) then default thresholds will be used.
      example:
        connectionErrorsPerMinute: 70
      properties:
        connectionErrorsPerMinute:
          description: Detect high number of connection errors when number of backend connection errors is higher than N per minute in 3 out of 5 samples.
          format: int32
          maximum: 1E+2
          minimum: 1
          type: integer
      required:
      - connectionErrorsPerMinute
      type: object
    RdsHighMemoryThresholds:
      description: Custom thresholds for high memory usage detection on RDS. If not present (null) then default thresholds will be used.
      example:
        swapUsage: 230.221286557589593257944216020405292510986328125
        freeMemory: 563.7420282866761453988146968185901641845703125
      properties:
        freeMemory:
          description: Detect high memory usage only when free memory is lower than N Megabytes in 3 out of 5 samples.
          exclusiveMinimum: false
          maximum: 1E+3
          minimum: 0.01
          type: number
        swapUsage:
          description: Detect high memory usage only when swap usage is higher than N Gigabytes in 3 out of 5 samples.
          exclusiveMinimum: false
          maximum: 1E+3
          minimum: 0.01
          type: number
      required:
      - freeMemory
      - swapUsage
      type: object
    ScopeConditions:
      example:
        serviceTechnology: ACTIVE_MQ
        tagOfProcessGroup: tagOfProcessGroup
        processGroup: processGroup
      properties:
        serviceTechnology:
          description: Only applies to this service technology.
          enum:
          - ACTIVE_MQ
          - AIX
          - AKKA
          - AMQP
          - APACHE_DERBY
          - APACHE_HTTP_SERVER
          - APACHE_SOLR
          - APACHE_TOMCAT
          - ACTIVE_MQ_ARTEMIS
          - ASP_DOTNET
          - ASP_DOTNET_SIGNALR
          - ASP_DOTNET_CORE
          - ASP_DOTNET_CORE_SIGNALR
          - OWIN
          - AWS_LAMBDA
          - AZURE_SERVICE_BUS
          - AZURE_SERVICE_FABRIC
          - AZURE_STORAGE
          - APACHE_CASSANDRA
          - COLDFUSION
          - APACHE_COUCH_DB
          - COUCHBASE
          - IBM_CICS_TERMINAL_OWNING_REGION
          - IBM_CICS_APPLICATION_OWNING_REGION
          - IBM_CICS_TRANSACTION_GATEWAY
          - IBM_IMS_CONTROL_REGION
          - IBM_IMS_MESSAGE_PROCESSING_REGION
          - IBM_IMS_CONNECT_REGION
          - DATASTAX
          - DB2
          - DOTNET
          - DOTNET_REMOTING
          - ELASTIC_SEARCH
          - ERLANG
          - F5_LTM
          - GLASSFISH
          - GO
          - HADOOP
          - HAPROXY
          - HEAT
          - HORNET_Q
          - IBM_INTEGRATION_BUS
          - IIS
          - IIS_APP_POOL
          - JAVA
          - JBOSS
          - JBOSS_EAP
          - JETTY
          - JRUBY
          - JYTHON
          - VIRTUAL_MACHINE_KVM
          - LIBVIRT
          - MARIADB
          - MEMCACHED
          - MONGODB
          - IBM_MQ
          - MICROSOFT_SQL_SERVER
          - MYSQL
          - MYSQL_CONNECTOR
          - NETTY
          - NGINX
          - NODE_JS
          - ONEAGENT_SDK
          - OPEN_LIBERTY
          - ORACLE_DATABASE
          - PERL
          - PHP
          - PHP_FPM
          - PLAY
          - POSTGRE_SQL
          - POSTGRE_SQL_DOTNET_DATA_PROVIDER
          - PYTHON
          - VIRTUAL_MACHINE_QEMU
          - RABBIT_MQ
          - AWS_RDS
          - REDIS
          - RIAK
          - RUBY
          - SAP
          - SAP_HANADB
          - SAP_HYBRIS
          - SAP_MAXDB
          - SAP_SYBASE
          - SCALA
          - SHAREPOINT
          - SPARK
          - SQLITE
          - APACHE_STORM
          - THRIFT
          - TIBCO_BUSINESS_WORKS
          - TIBCO_EMS
          - VARNISH_CACHE
          - VIM2
          - ORACLE_WEBLOGIC
          - IBM_WEBSHPRERE_APPLICATION_SERVER
          - IBM_WEBSHPRERE_LIBERTY
          - WILDFLY
          - ZERO_MQ
          - AMAZON_REDSHIFT
          - CLOUDFOUNDRY_GOROUTER
          - GRSECURITY
          - APPARMOR
          - SELINUX
          - CLOUDFOUNDRY
          - CLOUDFOUNDRY_AUCTIONEER
          - KUBERNETES
          - OPENSHIFT
          - OPENSTACK_CONTROLLER
          - OPENSTACK_COMPUTE
          type: string
        processGroup:
          description: Only applies to this process group. Note that this can't be transferred between different clusters or environments.
          type: string
        tagOfProcessGroup:
          description: Only apply to process groups matching this tag.
          type: string
      type: object
    ConfigurationMetadata:
      description: Metadata useful for debugging
      example:
        configurationVersions:
        - 0
        - 0
        clusterVersion: clusterVersion
      properties:
        clusterVersion:
          description: Dynatrace server version.
          type: string
        configurationVersions:
          description: Sorted list containing the version numbers of the configuration.
          items:
            format: int64
            type: integer
          type: array
      type: object
    OverloadedStorageDetectionConfig:
      description: Configuration of overloaded storage detection on physical storage device
      example:
        customThresholds:
          commandAbortsNumber: 56
        enabled: true
      properties:
        enabled:
          description: Is detection enabled.
          type: boolean
        customThresholds:
          $ref: '#/components/schemas/OverloadedStorageThresholds'
      required:
      - enabled
      type: object
    ApplicationDetectionConfig:
      example:
        metadata:
          configurationVersions:
          - 0
          - 0
          clusterVersion: clusterVersion
        detectionRules:
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
        - uuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationIdentifier: applicationIdentifier
          filterConfig:
            pattern: pattern
            applicationMatchTarget: URL
            applicationMatchType: CONTAINS
      properties:
        metadata:
[...]
